{% if settings[display_prev_next] %}

  {% if blog.previous_article or blog.next_article %}
    <div class="article-next-prev section">
      <div class="row">
        <div class="small-6 columns">
          {% if blog.previous_article %}
            <a href="{{blog.previous_article}}" title="{{ 'blog.article.previous_post' | t }}">
              <i class="fa fa-chevron-left"></i> Previous Post
            </a>
          {% endif %}
        </div>
        <div class="small-6 columns text-right">
          {% if blog.next_article %}
          <a href="{{blog.next_article}}" title="{{ 'blog.article.next_post' | t }}">
            Next Post <i class="fa fa-chevron-right"></i>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

{% endif %}