<div class="blog-foot large-12 small-12 medium-12">
	<ul class="foot-nav">
		<li>
			<a href="/blogs/the-play-yard/">Home | </a>
		</li>
		<li>
			<a href="/blogs/the-play-yard/tagged/safety">Safety | </a>
		</li>
		<li>
			<a href="/blogs/the-play-yard/tagged/nursery-inspiration">Nursery Inspiration | </a>
		</li>
		<li>
			<a href="/blogs/the-play-yard/tagged/parenting">Parenting | </a>
		</li>
		<li>
			<a href="/blogs/the-play-yard/tagged/diy">DIY | </a>
		</li>
		<li>
			<a href="/blogs/the-play-yard/tagged/resources">Parent Resources</a>
		</li>
	</ul>
</div>