{%if collection.handle == "cribs" or collection.handle == "bookcase-and-hutches"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to149">$0 - $149</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="150to299">$150 - $299</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="300to499">$300 - $499</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="500to9999">$500+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "gliders"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to149">$0 - $149</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="150to299">$150 - $299</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="300to449">$300 - $449</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="450to9999">$450+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "changing-tables"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to249">$0 - $249</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="250to399">$250 - $399</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="400to599">$400 - $599</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="600to9999">$600+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}
  
{%if collection.handle == "nightstands"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to199">$0 - $199</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="250to9999">$250+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "activity" or collection.handle == "kids-seating"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to49">$0 - $49</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="50to9999">$50+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}
  

{%if collection.handle == "strollers"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to24">$0 - $24</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="25to99">$25 - $99</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="100to249">$100 - $249</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="250to9999">$250+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "bassinets"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to49">$0 - $49</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="50to149">$50 - $149</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="150to9999">$150+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "toddler-beds"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to99">$0 - $99</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="100to199">$100 - $199</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="200to399">$200 - $399</label>
  </li>
    <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="400to9999">$400+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}


{%if collection.handle == "twin-beds"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to199">$0 - $199</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="200to349">$200 - $349</label>
  </li>
    <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="350to9999">$350+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}



{%if collection.handle == "toy-storage"%}
<div class="mutliSelect">
    <div class="mulitWrapper">
   	<div class="selectTitle"><span class="filterTitle">Price</span></div>
    <ul class="dropdownUl">
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to24">$0 - $24</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="25to49">$25 - $49</label>
    </li>
      <li>
       <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="50to9999">$50+</label>
    </li>
    </ul>
    </div>
</div>
{%endif%}

{%if collection.handle == "table-chair-sets"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to49">$0 - $49</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="50to99">$50 - $99</label>
  </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="100to199">$100 - $199</label>
  </li>
    <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="200to9999">$200+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}


{%if collection.handle == "mattresses"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to99">$0 - $99</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="100to249">$100- $249</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="250to9999">$250+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}


{%if collection.handle == "storage-decor"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Price</span></div>
  <ul class="dropdownUl">
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="0to24">$0 - $24</label>
  </li>
  <li>
     <label class="filter-label"><input class="filterClick" data-id="Range" type="checkbox" value="25to9999">$25+</label>
  </li>
  </ul>
  </div>
</div>
{%endif%}