<style>
  .ch-container{
        height: 210px;
    max-height: 210px;
    position: relative;
    text-align: center;
  }
  .ch-container img{
/*     width: 100%; */
    max-height:	150px;
    display: inline-block;
    
  }

  .ch-title{
    width: 100%;
    text-align: center;
    font-size: 120%;
    color: #8dabdd !important;
    position: absolute;
    bottom: 30px;
    /* text-align: center; */
    left: 0;
    height: 10px;
  }
  @media screen and (max-width: 1025px){
    .ch-container img{
      max-height: 90%;
      padding-bottom: 20px;
    }
    .ch-container{
      margin-bottom: 20px;
    }
    .ch-title{
      bottom: 0;
      margin-top: 10px;
    }
}
    @media screen and (max-width: 667px){
	.ch-container{
      height: 230px;
      
    }
    }
  


</style>
<div class="row ch-page-container">
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/pages/major-league-baseball" title="MLB">
      <img style="position: relative; top: 10%;" src="//cdn.shopify.com/s/files/1/0578/7201/files/MLB_Primary-01_1_copy.png" alt="MLB Official Logo" />
      <h3 class="ch-title">Major League Baseball</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/batman" title="Batman Collection">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Batman_large.jpg?v=1512573548" alt="Batman" />
        <h3 class="ch-title">Batman</h3>
    </a>
  </div>
   <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/wonder-woman" title="Wonder Woman Collection">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Wonder_Woman_2_large.jpg?v=1512573583" alt="Wonder Woman" />
      <h3 class="ch-title">Wonder Woman</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/minnie-mouse" title="minnie mouse">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/minnie_large-min.png" alt="Minnie Mouse" />
      <h3 class="ch-title">Minnie Mouse</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/disney-mickey-mouse" title="Disney Mickey Mouse">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/mickey_large-min.png" alt="mickey" />
      <h3 class="ch-title">Mickey Mouse</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/paw-patrol" title="paw patrol">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/paw_patrol_large-min.png" alt="Paw Patrol" />
      <h3 class="ch-title">PAW Patrol</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/peppa-pig" title="Peppa Pig Collection">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Peppa_Pig_large.jpg?v=1512573572" alt="Peppa Pig" />
      <h3 class="ch-title">Peppa Pig</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/pj-masks " title="PJ Masks Collection">
      <img style="position: relative; top: 10%;" alt="PJ Masks" src="//cdn.shopify.com/s/files/1/0578/7201/files/PJMasks_Leaping_GroupPose_figural_1_copy.png" style="float: none;" />
      <h3 class="ch-title">PJ Masks</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/justice-league " title="Justice League">
      <img alt="Justice League" src="//cdn.shopify.com/s/files/1/0578/7201/files/Justice-League-Icon_1_copy.png" style="float: none;" />
      <h3 class="ch-title">Justice League</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/dc-super-hero-girls " title="DC Super Hero Girls Collection">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/DC-Superhero-Girls_large.jpg?v=1512573556" alt="DC Super Hero Girls" />
      <h3 class="ch-title">DC Super Hero Girls</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/disney-princess" title="disney princess">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/rapunzel_large-min.png" alt="Rapunzel" />
      <h3 class="ch-title">Disney Princess</h3>
    </a>
  </div>
   <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/disney-pixar-cars" title="Disney Cars">
      <img style="position: relative; top: 5%;" src="//cdn.shopify.com/s/files/1/0578/7201/files/cars_large-min.png" alt="Cars" />
      <h3 class="ch-title">Cars</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/sesame-street" title="Sesame Street">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/elmo_large-min.png" alt="Elmo" />
      <h3 class="ch-title">Sesame Street</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/winnie-the-pooh" title="Winnie The Pooh">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/Winnie-The-Pooh-Icon_1_copy.jpg" alt="Winnie The Pooh" />
      <h3 class="ch-title">Winnie The Pooh</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/disney-frozen" title="frozen">
      <img style="position: relative; top: 5%;" src="//cdn.shopify.com/s/files/1/0578/7201/files/frozen4_large-min.png" alt="Frozen" />
      <h3 class="ch-title">Frozen</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/teenage-mutant-ninja-turtles" title="TMNT">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/tmnt_large-min.png" alt="tmnt" />
      <h3 class="ch-title">Teenage Mutant Ninja Turtles</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/avengers" title="Avengers">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/avengers_large-min.png" alt="avengers" />
      <h3 class="ch-title">Avengers</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/spiderman" title="Spiderman">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/spiderman_large-min.png" alt="Spiderman" />
      <h3 class="ch-title">Spider-Man</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/elena-of-avalor" title="Elena of Avalor">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/elena_jpg-min.jpeg" alt="Elena" />
      <h3 class="ch-title">Elena of Avalor</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/doc-mcstuffins" title="Doc McStuffins">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/doc_large-min.png" alt="Doc McStuffins" />
        <h3 class="ch-title">Doc McStuffins</h3>
    </a>
  </div>
   <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/disney-sofia-the-first" title="Sofia the First">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/sofia_large-min.png" alt="Sofia the First" />
      <h3 class="ch-title">Sofia the First</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/nickelodeon-dora-the-explorer" title="Dora Furniture">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/dora_large-min.png" alt="Dora the Explorer" />
      <h3 class="ch-title">Dora the Explorer</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/hello-kitty" title="Hello Kitty">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/hello_kitty_large-min.png" alt="Hello Kitty" />
      <h3 class="ch-title">Hello Kitty</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/finding-dory" title="Finding Dory">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/dory_c533bd88-001d-4731-be2e-ce521efabc5f-min.png" alt="" />
      <h3 class="ch-title">Finding Dory</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/blaze" title="Blaze">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/blaze_large-min.png" alt="Blaze" />
      <h3 class="ch-title">Blaze and the Monster Machines</h3>
    </a>
  </div>
   <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/nickelodeon-spongebob" title="Spongebob">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/sponge-bob_large-min.png" alt="Sponge Bob" />
      <h3 class="ch-title">SpongeBob SquarePants</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/star-wars" title="Star Wars">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/star_wars_large-min.png" alt="Star Wars" />
      <h3 class="ch-title">Star WARS</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container">
    <a href="/collections/how-to-train-your-dragon" title="How to Train your Dragon">
      <img style="position: relative; top: 5%;" class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/dragon_large-min.png" alt="" />
      <h3 class="ch-title">How to Train Your Dragon</h3>
    </a>
  </div>
  <div class="large-2 medium-6 small-6 columns ch-container left">
    <a href="/collections/the-lion-guard" title="Lion Guard">
      <img class="lazy" src="" data-src="//cdn.shopify.com/s/files/1/0578/7201/files/The-Lion-Guard-Icon_1_copy.png" alt="Lion Guard" />
      <h3 class="ch-title">Lion Guard</h3>
    </a>
  </div>
</div>

<script>
$(function() {
  //lazy loading of character images
  $('.lazy').Lazy({
   // your configuration goes here
   scrollDirection: 'vertical',
   effect: 'fadeIn',
   visibleOnly: true,
   onError: function(element) {
       console.log('error loading ' + element.data('src'));
   }
   });
});

</script>
