      </div>

    {% if has_sidebar %}
      <div class="{{ sidebar_class }}">
        <aside class="sidebar">
          {% include 'sidebar' %}
        </aside>
      </div>
    {% endif %}

  </div>
</div>
<!-- /#content-wrap -->