<div class="row">
  <div class="large-12 columns field">
    <input type="password" name="customer[password_confirmation]" id="password_confirmation" data-required="true" data-required-message="{{ 'customer_accounts.account_fields.password_confirm_field_required' | t }}" placeholder="{{ 'customer_accounts.account_fields.password_confirm_field_placeholder' | t }}">
  </div>
</div>