{%if collection.handle == "changing-tables"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Feature</span></div>
   <ul class="dropdownUl">

    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="ChangingTopIncluded">Changing Top Included</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="ChangingTopCompatible">Changing Top Compatible</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "strollers"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Feature</span></div>
   <ul class="dropdownUl">
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="strCarSeatCompatible">Car Seat Compatible</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "mattresses"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Feature</span></div>
   <ul class="dropdownUl">
   <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="mToddlerSide">Additional Toddler Side</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="mFabricCover">Fabric Cover</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="mVinylCover">Vinyl Cover</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="mNatural">Natural</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "toy-storage"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Character</span></div>
   <ul class="dropdownUl">
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Blaze" autocomplete='off'>Blaze and the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monster Machines</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Cars" autocomplete='off'>Cars</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="DocMcStuffins" autocomplete='off'>Doc McStuffins</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dora" autocomplete='off'>Dora</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="FindingDory" autocomplete='off'>Finding Dory</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Frozen" autocomplete='off'>Frozen</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="HelloKitty" autocomplete='off'>Hello Kitty</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dragon" autocomplete='off'>How to Train <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your Dragon</label>
     </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="LittleMermaid" autocomplete='off'>Little Mermaid</label>
     </li>
     <li>
        <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MickeyMouse" autocomplete='off'>Mickey Mouse</label>
     </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MinnieMouse" autocomplete='off'>Minnie Mouse</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="PawPatrol" autocomplete='off'>PAW Patrol</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Princess" autocomplete='off'>Princess</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SesameStreet" autocomplete='off'>Sesame Street</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Sofia" autocomplete='off'>Sofia the First</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpiderMan" autocomplete='off'>Spider-Man</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpongeBob" autocomplete='off'>SpongeBob</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="StarWars" autocomplete='off'>Star WARS</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="NinjaTurtles" autocomplete='off'>Teenage Mutant <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ninja Turtles</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "activity"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Character</span></div>
   <ul class="dropdownUl">
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Cars" autocomplete='off'>Cars</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dora" autocomplete='off'>Dora</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Frozen" autocomplete='off'>Frozen</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="HelloKitty" autocomplete='off'>Hello Kitty</label>
  </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="LittleMermaid" autocomplete='off'>Little Mermaid</label>
     </li>
     <li>
        <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MickeyMouse" autocomplete='off'>Mickey Mouse</label>
     </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MinnieMouse" autocomplete='off'>Minnie Mouse</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="PawPatrol" autocomplete='off'>PAW Patrol</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Princess" autocomplete='off'>Princess</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SesameStreet" autocomplete='off'>Sesame Street</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpiderMan" autocomplete='off'>Spider-Man</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="StarWars" autocomplete='off'>Star WARS</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="NinjaTurtles" autocomplete='off'>Teenage Mutant <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ninja Turtles</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "kids-seating"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Character</span></div>
   <ul class="dropdownUl">
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Blaze" autocomplete='off'>Blaze and the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monster Machines</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Cars" autocomplete='off'>Cars</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dora" autocomplete='off'>Dora</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="FindingDory" autocomplete='off'>Finding Dory</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Frozen" autocomplete='off'>Frozen</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="HelloKitty" autocomplete='off'>Hello Kitty</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dragon" autocomplete='off'>How to Train <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your Dragon</label>
     </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="LionGuard" autocomplete='off'>The Lion Guard</label>
     </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="LittleMermaid" autocomplete='off'>Little Mermaid</label>
     </li>
     <li>
        <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MickeyMouse" autocomplete='off'>Mickey Mouse</label>
     </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MinnieMouse" autocomplete='off'>Minnie Mouse</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="PawPatrol" autocomplete='off'>PAW Patrol</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Princess" autocomplete='off'>Princess</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SesameStreet" autocomplete='off'>Sesame Street</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Sofia" autocomplete='off'>Sofia the First</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpiderMan" autocomplete='off'>Spider-Man</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpongeBob" autocomplete='off'>SpongeBob</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="StarWars" autocomplete='off'>Star WARS</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="NinjaTurtles" autocomplete='off'>Teenage Mutant <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ninja Turtles</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "table-chair-sets"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Character</span></div>
   <ul class="dropdownUl">
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Blaze" autocomplete='off'>Blaze and the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monster Machines</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Cars" autocomplete='off'>Cars</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dora" autocomplete='off'>Dora</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="DocMcStuffins" autocomplete='off'>Doc McStuffins</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="FindingDory" autocomplete='off'>Finding Dory</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Frozen" autocomplete='off'>Frozen</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="HelloKitty" autocomplete='off'>Hello Kitty</label>
  </li>
     <li>
        <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MickeyMouse" autocomplete='off'>Mickey Mouse</label>
     </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MinnieMouse" autocomplete='off'>Minnie Mouse</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="PawPatrol" autocomplete='off'>PAW Patrol</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Princess" autocomplete='off'>Princess</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SesameStreet" autocomplete='off'>Sesame Street</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="NinjaTurtles" autocomplete='off'>Teenage Mutant <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ninja Turtles</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "toddler-beds"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Character</span></div>
   <ul class="dropdownUl">
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Blaze" autocomplete='off'>Blaze and the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Monster Machines</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Cars" autocomplete='off'>Cars</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="DocMcStuffins" autocomplete='off'>Doc McStuffins</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dora" autocomplete='off'>Dora</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="FindingDory" autocomplete='off'>Finding Dory</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Frozen" autocomplete='off'>Frozen</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="HelloKitty" autocomplete='off'>Hello Kitty</label>
  </li>
  <li>
    <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Dragon" autocomplete='off'>How to Train <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your Dragon</label>
     </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="LionGuard" autocomplete='off'>The Lion Guard</label>
     </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="LittleMermaid" autocomplete='off'>Little Mermaid</label>
     </li>
     <li>
        <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MickeyMouse" autocomplete='off'>Mickey Mouse</label>
     </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MinnieMouse" autocomplete='off'>Minnie Mouse</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="PawPatrol" autocomplete='off'>PAW Patrol</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Princess" autocomplete='off'>Princess</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SesameStreet" autocomplete='off'>Sesame Street</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Sofia" autocomplete='off'>Sofia the First</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpiderMan" autocomplete='off'>Spider-Man</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpongeBob" autocomplete='off'>SpongeBob</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "twin-beds"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Character</span></div>
   <ul class="dropdownUl">
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Avengers" autocomplete='off'>Avengers</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Cars" autocomplete='off'>Cars</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Frozen" autocomplete='off'>Frozen</label>
  </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="MinnieMouse" autocomplete='off'>Minnie Mouse</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="Princess" autocomplete='off'>Princess</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="SpiderMan" autocomplete='off'>Spider-Man</label>
   </li>
   <li>
     <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="StarWars" autocomplete='off'>Star WARS</label>
   </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Feature" type="checkbox" value="NinjaTurtles" autocomplete='off'>Teenage Mutant <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ninja Turtles</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}
