<style>
a.hc-link{
  border: 3px solid #487ed6;
  display: block;
  text-align: center;
  border-radius: 3px;
  color: #487ed6 !important;
  cursor: pointer;
  background-color: white;
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  line-height: 150px;
  vertical-align: middle;
}
a.hc-link:hover{
  border-color: #3743a1;
  color: #3743a1 !important;
}
.hc-link-holder{
  text-align: center;
  padding-bottom: 30px;
  width: 170px;
  float: none !important;
  display: inline-block;
  padding: 0 !important;
}
.hc-text{
  font-size: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #487ed6 !important;
}
.hc-text:hover{
  color: #3743a1 !important;
}
.hc-row{
  width: 80% !important;
  left: 10%;
  margin: 0 auto !important;
  text-align: center;
}
@media only screen and (max-width: 641px ){
  .hc-link-holder{
    margin-bottom: 20px;
  }
}
</style>

<div class="row hc-row">
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/collections/guardrails"><h2 class="hc-text">Convert Your Crib<br>to A Toddler Bed</h2></a>
  </div>
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/collections/full-size-bed-rails"><h2 class="hc-text">Convert Your Crib to<br>A Full Size Bed</h2></a>
  </div>
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/pages/product-registration"><h2 class="hc-text">Product<br>Registration</h2></a>
  </div>
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/pages/contact-us-delta"><h2 class="hc-text">Contact Us</h2></a>
  </div>
</div>
<div class="row hc-row">
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/pages/track-order"><h2 class="hc-text">Track Order</h2></a>
  </div>
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/pages/returns-exchanges"><h2 class="hc-text">Returns &amp; Exchanges</h2></a>
  </div>
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="/pages/instructions"><h2 class="hc-text">Assembly By<br>Style</h2></a>
  </div>
  <div class="small-6 medium-3 large-3 columns hc-link-holder">
    <a class="hc-link" href="http://www.cribrecallcenter.com/" target="_blank"><h2 class="hc-text">Recall Center</h2></a>
  </div>
</div>
