<style>
  .mlb-container{
    height: 400px;
  }
  .mlb-container img{
    width: 100%;
  }

  @media only screen and (min-width: 64.063em){
  .large-4 {
    width: 25%;
  }

  #row-2{
    width: 33.3333%;
    bottom: 79px;
  }

  #row-2 img{
    width: 91%;
  }
}
  .mlb-title{
    width: 100%;
    text-align: center;
    font-size: 120%;
    color: #8dabdd !important;
    display: none;
  }
  @media screen and (max-width: 1025px){
    .mlb-container img{
      max-height: 90%;
    }
}
  @media screen and (max-width: 667px){
    .mlb-container{
      height: 200px;
    }


  }


</style>
<div class="row mlb-page-container">

  <div class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/new-york-yankees" title="Yankees">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Yankees_cf5ab259-16bd-421f-a6de-6e9a30c7f950.png" alt="New York Yankees Official Logo" />
      <h3 class="mlb-title">Yankees</h3>
    </a>
  </div>
  <div class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/boston-red-sox" title="Red Sox">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Red_Sox-v2.png" alt="Boston Red Sox Official Logo" />
      <h3 class="mlb-title">Red Sox</h3>
    </a>
  </div>
  <div class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/los-angeles-dodgers" title="Dodgers">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Dodgers_ccdfe1e3-ce8a-452f-8ac1-c5b63e9c74d3.png" alt="Los Angeles Dodgers Official Logo" />
      <h3 class="mlb-title">Dodgers</h3>
    </a>
  </div>
  <div class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/chicago-cubs" title="Cubs">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Cubs_064cd711-39c0-40f8-8d7a-711dbd828bdd.png" alt="Chicago Cubs Official Logo" />
        <h3 class="mlb-title">Cubs</h3>
    </a>
  </div>
  <div id="row-2" class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/st-louis-cardinals" title="Cardinals">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Cardinals_c6d54f24-4619-4169-9f2e-e7067613182f.png" alt="St. Louis Cardinals Official Logo" />
      <h3 class="mlb-title">Cardinals</h3>
    </a>
  </div>
  <div id="row-2" class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/san-francisco-giants" title="Giants">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Giants-01.png?14082256783929764763" alt="Houston Astros Official Logo" />
      <h3 class="mlb-title">Giants</h3>
    </a>
  </div>
  <div id="row-2" class="large-4 medium-6 small-6 columns mlb-container">
    <a href="/collections/houston-astros" title="Astros">
      <img src="//cdn.shopify.com/s/files/1/0578/7201/files/Astros_92e4a1e1-af70-4551-a981-ef1f68092ca5.png" alt="Houston Astros Official Logo" />
      <h3 class="mlb-title">Astros</h3>
    </a>
  </div>

</div>

<script>
// $(function() {
//   //lazy loading of character images
//   $('.lazy').Lazy({
//    // your configuration goes here
//    scrollDirection: 'vertical',
//    effect: 'fadeIn',
//    visibleOnly: true,
//    onError: function(element) {
//        console.log('error loading ' + element.data('src'));
//    }
//    });
// });

</script>
