<div class="mobMenuLink">
	<a href="/pages/nursery">
		<img src="//cdn.shopify.com/s/files/1/0578/7201/files/menu-2-01-op.jpg">
	</a>
</div>
<div class="mobMenuLink">
	<a href="/pages/kids-furniture">
		<img src="//cdn.shopify.com/s/files/1/0578/7201/files/menu-2-02-op.jpg">
	</a>
</div>
<div class="mobMenuLink">
	<a href="/pages/baby-gear">
		<img src="//cdn.shopify.com/s/files/1/0578/7201/files/menu-2-03-op.jpg">
	</a>
</div>
<div class="mobMenuLink">
	<a href="/pages/mattresses-pillows">
		<img src="//cdn.shopify.com/s/files/1/0578/7201/files/menu-2-04-op.jpg">
	</a>
</div>
<div class="mobMenuLink">
	<a href="/collections/storage-decor">
		<img src="//cdn.shopify.com/s/files/1/0578/7201/files/menu-2-05-op.jpg">
	</a>
</div>



<style>
	.mobMenuLink{
		width: 100%;
		height: 100%;
		padding-top: 5px;
	}


@media only screen and (max-width: 420px) {

.mobMenuLink:active{
opacity: .4;
/*border-color: white;
border-width: 5px;
border-style: solid;*/

}
}

</style>
