<div id="mobileSearchOverlay" class="hide">
			<div id="searchOverlayClose">X</div>
			<div id="overlayWrapper" style="top: 5%;">
				<i class="fa fa-search" id="searchIconOverlay"></i>
	            <form class="form-search form-inline" name="search" action="/search" id="overlaySearchBarForm">
	              <input type="hidden" name="type" value="product" />
								<input type="text" name="q" class="search-query search replace LiveSearch" id="mobileSearchBar" placeholder="Type something here...">

	              <!-- <input type="text" name="q" class="search-query search replace hideLiveSearch" id="mobileSearchBar" placeholder="Type something here..."> -->
	            </form>
            </div>
</div>
