<section class="order-note">
  <h3>{{ 'cart.notes.title' | t }}</h3>
  <div class="note-wrap">
    <p class="note-preview hide"></p>
    <textarea class="note hide" name="note" rows="5">{{ cart.note }}</textarea>
    <a class="toggle-note button secondary" href="#">{{ 'cart.notes.add' | t }}</a>
  </div>
</section>