<style>
#main-body-container div.cell h1{
  padding-top: 100px;
}
/*#content-container{
  padding-top: 100px;
}*/
#model-list ul{
  margin-bottom: 0;
}
#model-list{
  margin-left: 2rem;
}
li.no-bullet{
  list-style-type: none;
}
.page-header .cell{
  display: block;
}
.breadcrumbs{
  float: none !important;
  padding-top: 20px;
}
@media only screen and (max-width: 640px) {
  #main-body-container div.cell h1{
    padding-top: 0;
  }
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-color: black !important;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;border-color: black !important;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <img class="show-for-small-only" src="//cdn.shopify.com/s/files/1/0578/7201/files/Recall-Mobile_4.jpg">
    <img class="show-for-medium-up" src="//cdn.shopify.com/s/files/1/0578/7201/files/Recall-Desktop_5.jpg">
  </div>
</div>

<div id="content-container">
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h6><strong>Hazard:</strong><br>The stroller leg bracket can break, posing a fall hazard to infants in the stroller.</h6>
  </div>
  <div class="small-12 medium-12 large-12 columns">
    <h6 style="margin-bottom: 0;"><strong>Remedy:</strong></h6>
      <ul>
        <li>Replacement Frame with parent organizer and tether strap</li>
        <li>Consumers should immediately stop using the J is for Jeep® Brand Cross-Country All-Terrain Jogging Stroller and contact Delta Children to have the stroller frame replaced free of charge.</h6></li>
        <li>Call: 1-800-377-3777 M-F, 9 AM-6 PM (EST)</li>
        <li>Email: recall@deltachildren.com</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h6><strong>Recall Date:</strong> July, 2017</h6>
    <h6><strong>Recall Number:</strong> 17-231</h6>
    <h6><strong>Recall Details:</strong> In Conjunction with CPSC</h6>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h6><strong>Description:</strong><br>This recall involves J is for Jeep brand cross-country all-terrain jogging strollers, models and lot numbers listed below, manufactured by Delta. The strollers have two wheels in the back and one smaller wheel in the front. “J is for Jeep” is printed on the side of the stroller sun canopy and a star with a circle around it logo is printed on the front bottom of the seat and on the side of the stroller. The model number and lot number are printed on a Delta Children label with a blue heart at the left bottom frame support.</h6>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h6 style="margin-bottom: 0;">Model-Color:</h6>
    <ul id="model-list">
        <li>11988-835</li>
          <ul>
            <li>Lot Number(s): CH15083, CH15084, CH15085, CH15086, CH15087, CH15088, CH15089, CH15095, CH15123, CH15124, CH15125, CH15126, CH15127, CH15128, CH15157, CH15158, CH15173, CH15174, CH15185, CH15186, CH16045, CH16046, CH16047, CH16048, CH16052, CH16053, CH16054, CH16055, CH16056, CH16074, CH16084, CH16085, CH16086, CH16087, CH16088, CH16089, CH16090, CH16091, CH16092, CH16093, CH16094, CH16095, CH16096, CH16097, CH16098, CH16099</li>
          </ul>
          <li>11988-340</li>
          <ul>
            <li>Lot Number(s): CH15203, CH15217</li>
        </ul>
        <li>11988-436</li>
        <ul>
          <li>Lot Number(s): CH15143</li>
        </ul>
        <li>11988-656</li>
        <ul>
          <li>Lot Number(s): CH15144</li>
        </ul>
        <li>11988-838</li>
        <ul>
          <li>Lot Number(s): CH15145</li>
        </ul>
        <li>11988-0261</li>
        <ul>
          <li>Lot Number(s): CH16025</li>
        </ul>
      	<li>11998-0251</li>
      	<ul>
          <li>Lot number(s): CH16026</li>
      	</ul>
      	<li>11998-314</li>
      	<ul>
          <li>Lot number(s): CH15165, CH16006</li>
      	</ul>
      	<li>11998-439</li>
      	<ul>
          <li>Lot number(s): CH15055, CH15057, CH15058, CH15059, CH15060, CH15061, CH15063, CH15064, CH15065, CH15139, CH15140, CH15150, CH15159</li>
        </ul>
        <li>11998-678</li>
        <ul>
          <li>Lot number(s): CH15166, CH16007</li>
        </ul>
        <li>11998-850</li>
        <ul>
          <li>Lot number(s): CH15211, CH15212, CH15213, CH15214, CH15215, CH16024, CH16044</li>
        </ul>
      </ul>
    </div>
  </div>
<!-- <div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <ul id="11988-340">
      <li>Model-Color:</li>
        <ul>
          <li>11988-340</li>
          <ul>
            <li>Lot Number(s): CH15203, CH15217</li>
        </ul>
      </ul>
    </ul>
  </div>
</div> -->
<!-- <div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <ul id="11988-436">
      <li>Model-Color:</li>
        <ul>
          <li>11988-436</li>
          <ul>
            <li>Lot Number(s): CH15143</li>
          </ul>
        </ul>
      </ul>
    </div>
  </div> -->
<!-- <div class="row">
<div class="small-12 medium-12 large-12 columns">
  <ul id="11988-656">
    <li>Model-Color:</li>
      <ul>
        <li>11988-656</li>
        <ul>
          <li>Lot Number(s): CH15144</li>
        </ul>
      </ul>
    </ul>
  </div>
</div> -->
<!-- <div class="row">
<div class="small-12 medium-12 large-12 columns">
  <ul id="11988-838">
    <li>Model-Color:</li>
      <ul>
        <li>11988-838</li>
        <ul>
          <li>Lot Number(s): CH15145</li>
        </ul>
      </ul>
    </ul>
  </div>
</div> -->
<!-- <div class="row">
<div class="small-12 medium-12 large-12 columns">
  <ul id="11988-0261">
    <li>Model-Color:</li>
      <ul>
        <li>11988-0261</li>
        <ul>
          <li>Lot Number(s): CH16025</li>
        </ul>
      </ul>
    </ul>
  </div>
</div> -->

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <h6><strong>Incidents/Injuries:</strong> The firm has received four reports of the stroller leg bracket breaking, including one report of a child falling from a stroller and receiving cuts and bruises.</h6>
    <h6><strong>Sold At:</strong> Target, Walmart and other stores nationwide and Shopko stores in Wisconsin from August 2015 through August 2016 for between $130 and $160.</h6>
    <h6><strong>Importer(s):</strong> Delta Enterprise Corp., of New York, N.Y.</h6>
    <h6><strong>Manufactured In:</strong> China</h6>
    <h6><strong>Units:</strong> About 28,00 units</h6>
  </div>
</div>
</div>




<!-- <table class="tg">
  <tr>
    <th class="tg-yw4l">Model</th>
    <th class="tg-yw4l">Color</th>
    <th class="tg-yw4l">Lot Number(s)</th>
  </tr>
  <tr>
    <td class="tg-yw4l">11988</td>
    <td class="tg-yw4l">835</td>
    <td class="tg-yw4l">CH15083, CH15084, CH15085, CH15086, CH15087, CH15088, CH15089, CH15095, CH15123, CH15124, CH15125, CH15126, CH15127, CH15128, CH15157, CH15158, CH15173, CH15174, CH15185, CH15186, CH16045, CH16046, CH16047, CH16048, CH16052, CH16053, CH16054, CH16055, CH16056, CH16074, CH16084, CH16085, CH16086, CH16087, CH16088, CH16089, CH16090, CH16091, CH16092, CH16093, CH16094, CH16095, CH16096, CH16097, CH16098, CH16099</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11988</td>
    <td class="tg-yw4l">340</td>
    <td class="tg-yw4l">CH15203, CH15217</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11988</td>
    <td class="tg-yw4l">436</td>
    <td class="tg-yw4l">CH15143</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11988</td>
    <td class="tg-yw4l">656</td>
    <td class="tg-yw4l">CH15144</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11988</td>
    <td class="tg-yw4l">838</td>
    <td class="tg-yw4l">CH15145</td>
  </tr>
  <tr>
    <td class="tg-yw4l">11988</td>
    <td class="tg-yw4l">0261</td>
    <td class="tg-yw4l">CH16025</td>
  </tr>
</table> -->

