<div class="security-seal">
  <a href="http://empy.re/r/shopify" title="{{ 'general.security_seal.title' | t }}" data-target-new><img src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-light-shadow.png" alt="{{ 'general.security_seal.alt' | t }}" /></a>
</div>