<div class='row'>
  <div class='white-space'></div>
  <div class='large-12 medium-12 small-12 columns' id='shipping-banner'>
    <h2>FREE SHIPPING <span>ON ALL U.S. ORDERS</span></h2>
  </div>
  <div class='large-12 medium-12 small-12 columns' id='crib-background'>
    <a href='/pages/simmons-landing'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmonskids_logo.png?11705864783863593615'>
    </a>
    <div class='category-list'>
      <div>
        <h2 class= "plus-sign">Nursery Furniture</h2>
        <ul>
          <li><a href='/collections/simmons-kids-cribs'>Cribs</a></li>
          <li><a href='/collections/simmons-kids-dressers-changers'>Dressers & Changers</a></li>
          <li><a href='/collections/simmons-kids-bookcases-hutches'>Bookcases & Hutches</a></li>
          <li><a href='/collections/simmons-kids-nightstands'>Nightstands</a></li>
          <li><a href='/pages/simmons-kids-conversions-accessories'>Conversions & Accessories</a></li>
        </ul>
      </div>
      <div>
        <h2 class= "plus-sign">Strollers & Baby Gear</h2>
        <ul>
          <li><a href='/collections/simmons-kids-strollers'>Strollers</a></li>
          <li><a href='/collections/simmons-kids-bassinets-sleepers'>Bassinets & Sleepers</a></li>
        </ul>
        </div>
      <div>
        <h2 class= "plus-sign">Mattresses</h2>
        <ul>
          <li><a href='/collections/beautyrest-mattresses'>Beautyrest Mattresses</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='large-12 medium-12 small-12 columns' id='shop-banner'>
    <h2>Shop Products From SIMMONS KIDS</h2>
  </div>
</div>
<div class='row cat-rows'>
  <div class='large-12 medium-12 small-12 columns category visible mobile-cat'>
    <h2>Nursery Furniture</h2>
  </div>
  <div class='large-2 medium-2 small-4 columns category'>
    <h2>Nursery Furniture</h2>
  </div>
  <div class='large-2 medium-2 small-4 columns sub-category'>
    <a href='/collections/simmons-kids-cribs'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-crib.jpg?11705864783863593615'>
      <h3>Cribs ></h3>
    </a>
  </div>
  <div class='large-2 medium-2 small-4 columns sub-category'>
    <a href='/collections/simmons-kids-dressers-changers'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-dresser.jpg?11705864783863593615'>
      <h3>Dressers &<br/>Changers ></h3>
    </a>
  </div>
  <div class='large-2 medium-2 small-4 columns sub-category'>
    <a href='/collections/simmons-kids-bookcases-hutches'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-bookcase.jpg?11705864783863593615'>
      <h3>Bookcase &<br/>Hutches ></h3>
    </a>
  </div>
  <div class='large-2 medium-2 small-4 columns sub-category'>
    <a href='/collections/simmons-kids-nightstands'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-nighstand.jpg?11705864783863593615'>
      <h3>Nightstands ></h3>
    </a>
  </div>
  <div class='large-2 medium-2 small-4 columns sub-category'>
    <a href='/pages/simmons-kids-conversions-accessories'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-guardrail.jpg?11705864783863593615'>
      <h3>Conversions &<br/>Accessories ></h3>
    </a>
  </div>
</div>
<div class='row cat-rows' id='baby-gear-row'>
  <div class='large-12 medium-12 small-12 columns category visible mobile-cat'>
    <h2>Baby Gear</h2>
  </div>
  <div class='large-2 medium-2 small-4 columns category'>
    <h2>Baby Gear</h2>
  </div>
  <div class='large-2 medium-2 small-4 columns sub-category'>
    <a href='/collections/simmons-kids-strollers'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-stroller.jpg?11705864783863593615'>
      <h3>Strollers ></h3>
    </a>
  </div>
  <div class='large-2 medium-2 small-4 columns end sub-category'>
    <a href='/collections/simmons-kids-bassinets-sleepers'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-bassinet.jpg?11705864783863593615'>
      <h3>Bassinets & Sleepers></h3>
    </a>
  </div>
</div>
<div class='row cat-rows'>
  <div class='large-12 medium-12 small-12 columns category visible mobile-cat'>
    <h2>Crib Mattresses</h2>
  </div>
  <div class='large-2 medium-2 small-4 columns category'>
    <h2>Crib Mattresses</h2>
  </div>
  <div class='large-2 medium-2 small-4 columns end sub-category'>
    <a href='/collections/beautyrest-mattresses'>
      <img src='https://cdn.shopify.com/s/files/1/0578/7201/files/simmons-thumbnail-mattress.jpg?11705864783863593615'>
      <h3>BeautyRest<br/>Crib Mattress >
      </h3>
    </a>
  </div>
</div>
<script>

  $('.category-list div h2').on('click', function(){
    if(window.matchMedia('(max-width: 641px)').matches){
      $(this).siblings('ul').slideToggle('slow');
    }
  });

  $('.category-list div h2').on('click', function(){
    if(window.matchMedia('(max-width: 641px)').matches){
      if($(this).hasClass('plus-sign')){
        $(this).removeClass('plus-sign')
        $(this).addClass('minus-sign')
      } else if($(this).hasClass('minus-sign')){
        $(this).removeClass('minus-sign')
        $(this).addClass('plus-sign')
      }
    }
  })
   $(document).ready(function(){
    if (window.matchMedia('(max-width: 641px)').matches){
      $('#brand-primary-image a').attr('href', '/pages/simmons-landing')
      $('#brand-primary-image a img').attr('src', 'http://cdn.shopify.com/s/files/1/0690/3771/t/4/assets/logo.png?370606501598747184');

       $(".leftWrap .menu-icon span").before("<div id='extra-delta-logo'><a href='/'> <img src= 'http://cdn.shopify.com/s/files/1/0578/7201/t/44/assets/logo.png?10090819511015091330'></a></div>")
    }
  })
  $(window).resize(function(){
    if (window.matchMedia('(max-width: 641px)').matches){
      $('#brand-primary-image a').attr('href', '/pages/simmons-landing')
      $('#brand-primary-image a img').attr('src', 'http://cdn.shopify.com/s/files/1/0690/3771/t/4/assets/logo.png?370606501598747184');
    } else{
      $('#brand-primary-image a').attr('href', '/')
      $('#brand-primary-image a img').attr('src', 'http://cdn.shopify.com/s/files/1/0578/7201/t/44/assets/logo.png?8938025303358765258')
      $('.category-list div ul').show();
    }
  })
</script>
