<li><a href="https://www.facebook.com/deltachildren" target="_blank"><i class="fa fa-facebook icons mobile-social"></i></a></li>
<li><a href="https://www.instagram.com/deltachildren/" target="_blank"> <i class="fa fa-instagram icons mobile-social"></i></a></li>
<li><a href="https://www.pinterest.com/deltachildren/" target="_blank"> <i class="fa fa-pinterest icons mobile-social"></i> </a></li>
<li><a href="https://twitter.com/deltachildren/" target="_blank"> <i class="fa fa-twitter icons mobile-social"></i> </a></li>