<div id="sortBySpecial" class="mutliSelect">
 <div id="sortByTitle" class="selectTitle"><span id="spanSortTitle" class="filterTitle">Sort By</span></div>
 <ul id="sortByList" class="dropdownUl">
  <li class="sortSpecial" data-id="Sort" data-active="false" data-value="low">Price - Low to High</li>
  <li class="sortSpecial" data-id="Sort" data-active="false" data-value="high">Price - High to Low</li>
  <li class="sortSpecial" data-id="Sort" data-active="false" data-value="popular">Most Popular</li>
 </ul>
</div>
