{%if collection.handle == "cribs"%}
<div class="mutliSelect">
<div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Feature</span></div>
    <ul class="dropdownUl">
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="crib3in1" autocomplete='off'>3-in-1</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="crib4in1" autocomplete='off'>4-in-1</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="cribCNC" autocomplete='off'>Crib'N'Changer</label>
    </li>
    <li>
      <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="cribPortable" autocomplete='off'>Portable</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}


{%if collection.handle == "changing-tables"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Type</span></div>
   <ul class="dropdownUl">
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="dresser" autocomplete='off'>Dresser</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="ChangingTable" autocomplete='off'>Changing Table</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="Chest" autocomplete='off'>Chest</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="ChangingTop" autocomplete='off'>Changing Top</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="cribCNC" autocomplete='off'>Crib'N'Changer</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "mattresses"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Core</span></div>
   <ul class="dropdownUl">
   <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mCoconutCoir" autocomplete='off'>Natural Coconut Coir</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mOpenCoilCore" autocomplete='off'>Open Coil Core</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mPECore" autocomplete='off'>PE Core</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mPocketedCoils" autocomplete='off'>Pocketed Coils</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mPolyesterFiberCore" autocomplete='off'>Polyester Fiber Core</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mSoyEnhancedFoam" autocomplete='off'>Soy Enhanced Foam</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="mSoyFoamCore" autocomplete='off'>Soy Foam Core</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "strollers"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
   <div class="selectTitle"><span class="filterTitle">Type</span></div>
   <ul class="dropdownUl">
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="strFull" autocomplete='off'>Full-Size</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="strJog" autocomplete='off'>Jogger</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="strUmbrella" autocomplete='off'>Umbrella</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="strCharacterUmbrella" autocomplete='off'>Character Umbrella</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="strDouble" autocomplete='off'>Double Stroller</label>
    </li>
     <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="lightWeight" autocomplete='off'>Light Weight</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}


{%if collection.handle == "table-chair-sets" or collection.handle == "toddler-beds" or collection.handle == "twin-beds" or collection.handle == "toy-storage"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Finish</span></div>
   <ul class="dropdownUl">
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="characterFinish" autocomplete='off'>Character Print</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="GenericToddler woodFinish" autocomplete='off'>Solid Color</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "storage-decor"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Type</span></div>
   <ul class="dropdownUl">
   <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="Decor" autocomplete='off'>Decor</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="BinsAndBoxes" autocomplete='off'>Bins &amp; Boxes</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="hangers" autocomplete='off'>Hangers</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="StorageOrganizer" autocomplete='off'>Organizers</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}

{%if collection.handle == "gliders"%}
<div class="mutliSelect">
  <div class="mulitWrapper">
 <div class="selectTitle"><span class="filterTitle">Type</span></div>
   <ul class="dropdownUl">
   <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="Glider" autocomplete='off'>Glider</label>
    </li>
    <li>
       <label class="filter-label"><input class="filterClick" data-id="Type" type="checkbox" value="Ottoman" autocomplete='off'>Ottoman</label>
    </li>
  </ul>
  </div>
</div>
{%endif%}
