<form class="form-search" name="search" action="/search">
	<input type="hidden" name="type" value="product" />
  <input type="text" name="q" class="input-small search-query search replace" placeholder="{{ 'general.search.input_placeholder_short' | t }}">
  <!-- <button type="submit" class="btn btn-primary">{{ 'general.search.submit' | t }}</button> -->
</form>
