#site-header{
  position: absolute;
  top: -7px;
  z-index: 2000;
  width: 100%;
  background-color: transparent !important;
  padding-top: 0 !important;
}
#site-header .nav-item a{
  background-color: white;
  opacity: .9;
}

#site-header .dropdown{
  background-color: white;
  opacity: .9;
}

#site-header .top-bar-section .has-dropdown>a{
  padding-right: 15px !important;
}

#site-header .top-bar-section .nav-item>a{
  line-height: 1.5 !important;
}





@media screen and (max-width: 914px){
  #site-header{
    top: 0;
  }

}


@media screen and (min-width: 642px) and (max-width: 1024px){
  #nav-primary-wrap{
    top: -1px;
    position: absolute;
    width: 100%;
  }
  #site-header #branding-wrap.cell{
    display: none !important;
  }

}
