<div class="row padded-v">
	<div class="row padded-h">
		<div class="columns small-12 small-push-1">
			<h1>
				Assembly Instructions
			</h1>
		</div>
	</div>
	<div class="row padded-h">

		<div class="columns small-8 small-push-1">
			<h5>
				Delta Children wants to make the assembly process as easy as possible for you! We have many resources that will guide you through a simple step-by-step process to set up your product.
 <br><br>
				Search for your product below. You will be redirected to the individual product page where you can click on <span style="font-weight: 700;">Assembly Instructions</span> and <b>Assembly Videos</b> (Spanish language Assembly Videos are also available for select styles). 
			</h5>
		</div>
	</div>

	<br> 

	<div class="row padded-h padded-v">
		<div class="columns small-6 small-push-1 search-form">
			<form class="form-search form-inline" name="search" action="/search">
		      <input type="hidden" name="type" value="product" />
		      <input type="text" name="q" class="search-query search replace" placeholder="Search by Product Name, SKU, or UPC">
		      <input class="button" type="submit" value="search" />
		    </form>
		</div>
	</div>
	<div class="row padded-h">
		<div class="columns small-8 small-push-1">
			<h5>
				If you are unable to locate the instructions you are searching for, please contact our Consumer Care Team Monday though Friday, from 8:30am – 6:00pm, (EST). Call 1-800-377-3777 or email customercare@deltachildren.com
			</h5>
		</div>
	</div>
	<br>
</div>
<script>

</script>