<div id="how-we-are-safe-container">
  <!-- header section -->
  <div class="row main-container" id="safe-start-container">
    <div class="small-12 medium-12 large-12 columns" id="safe-start-text-container">
      <div id="title-top-text"><h1 class="ultra dark-blue">IT ALL STARTS</h1></div><div id="title-bottom-text"><span id="with" class="om-font dark-blue"> with</span><h1 id="safety-text" class="ultra dark-blue"> SAFETY</h1></div>
      <h3 id="header-sub-text" class="gotham-medium dark-blue">At Delta Children, safety is at the heart of everything we do. We strive to improve child safety through research, testing, design, and community engagement.</h3>
    </div>
  </div>

  <!-- How We Test -->
  <div class="row main-container" id="how-we-test-container">
    <!-- navigation -->
    <div id="nav-row">
      <ul id="nav-container">
        <li id="nav-1" class="nav-element on">HOW WE TEST</li><li id="nav-2" class="nav-element">MATERIALS WE USE</li><li id="nav-3" class="nav-element">SAFETY ORGANIZATIONS</li><li id="nav-4" class="nav-element">PRODUCT COMPLIANCE</li>
      </ul>
    </div>

    <div class="small-12 medium-12 large-12" id="top-title">
      <h2 class="ultra dark-blue section-title">HOW WE <span class="om-font dark-blue section-title">test</span></h2>
      <h3 class="gotham-book dark-blue section-sub-title">Going far beyond what is required</h3>
    </div>
    <div class="small-12 medium-12 large-6 columns how_test" data-reveal-id="how_test-video" id="youtube-img-holder">
      <img id="youtube-vid" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta-safety-video-image-min.jpg" style="cursor: pointer;">
    </div>
    <div id="how_test-video" class="reveal-modal with-close" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" style="display: none; opacity: 1; visibility: hidden; top: 20%;">
        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
          <iframe id="player" frameboarder="0" allowfullscrenn="1" title="YouTube video player" width="560" height="315" src="https://www.youtube.com/embed/Afv2APIfG8o?enablejsapi=1&origin=https%3A%2F%2Fwww.deltachildren.com&widgetid=1"></iframe>
        </div>
    </div>
    <div id="how-we-test-right" class="small-12 medium-12 large-6 columns">
      <h3 class="gotham-bold">Exceeding Federal and State Requirements</h3>
      <p class="gotham-book">By Federal Standards, companies are required to test products once a year through 3rd party testing labs&mdash;we far exceed these requirements by also testing our products in all 8 of our internal, cutting edge safety labs.</p>
      <!-- <a href=""><button class="learn-more">Learn More<div class="arrow-right"></div></button></a> -->
    </div>
  </div>

  <!-- Materials We Use -->
  <div class="row main-container" id="materials-container">
    <div class="small-12 medium-12 large-12 columns">
      <h2 class="dark-blue section-title"><span class="om-font section-title">Materials</span> <span class="dark-blue ultra">WE USE</span></h2>
      <h3 class="gotham-book dark-blue section-sub-title">Safest Sleep Environments For Your Children</h3>
      <p class="gotham-bold">All of our products are below the federal and state child safety limits for:</p>
      <div id="icon-holder">
        <img id="chemicals-img" class="show-for-medium-up" src="//cdn.shopify.com/s/files/1/0578/7201/files/chemicals-we-test-for-graphics-min.png">
        <img id="chemicals-img-mobile" class="show-for-small-only" src="//cdn.shopify.com/s/files/1/0578/7201/files/chemicals-we-test-for-graphics-mobile.png">
      </div>
      <!-- icon to the left -->
      <div id="materials-img-text-holder">
          <img id="greenguard-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/green-guard-logo-min.png">
        <h6 id="greenguard-txt" class="gotham-book">All of our <span class="gotham-bold">crib mattresses</span> are GREENGUARD GOLD certified, indicating they contain low chemical emissions and contribute to healthier environments.</h6>
      </div>
    </div>
  </div>

  <!-- Safety Organizations -->
  <div class="row main-container" id="safety-container">
    <div class="small-12 medium-12 large-12 columns">
      <h2 class="dark-blue section-title"><span class="om-font section-title">Safety</span> <span class="dark-blue ultra">ORGANIZATIONS</span></h2>
      <h3 class="gotham-book dark-blue section-sub-title">Committed to Finding a Safe Place For Every Baby To Sleep</h3>
      <p class="gotham-bold" id="sub-sub-text">We don’t just follow the regulations and standards; we are members of the committees who are regularly updating them to increase child safety.</p>
      <p class="gotham-black dark-blue org-title">SAFETY ORGANIZATION</p>
      <a href="http://www.astm.org/" target="_blank"><img class="safety-org-icons" id="astm" style="width: 150px;" src="//cdn.shopify.com/s/files/1/0578/7201/files/ASTM-logo-min.png">
      <a href="http://www.jpma.org/" target="_blank"><img class="safety-org-icons" id="jpma" style="width: 120px;" src="//cdn.shopify.com/s/files/1/0578/7201/files/JPMA-logo-min.png">
      <a href="http://www.sleepproducts.org/" target="_blank"><img class="safety-org-icons" id="ispa" style="width: 120px;" src="//cdn.shopify.com/s/files/1/0578/7201/files/ISPA-logo-min.png">
      <a href="http://www.toyassociation.org/" target="_blank"><img class="safety-org-icons" id="tia" style="width: 210px;" src="//cdn.shopify.com/s/files/1/0578/7201/files/Toy-Industry-Association-logo-min.png">
      <p class="gotham-black dark-blue org-title" id="non-profits-text">NON-PROFIT ORGANIZATION</p>
      <a href="http://www.firstcandle.org/" target="_blank"><img class="nonprof-icons" id="fc" style="width: 190px;" src="//cdn.shopify.com/s/files/1/0578/7201/files/first-candle-logo-min.png">
      <a href="https://www.delivering-good.org" target="_blank"><img class="nonprof-icons" id="dg" style="width: 230px;" src="//cdn.shopify.com/s/files/1/0578/7201/files/delivering-good-logo-min.png">
      <p class="gotham-book" id="org-footer-text">WE ARE PART OF ALL THE SAFETY REGULATORS THAT SET THE INDUSTRY STANDARDS AND PARTNER WITH NON-PROFITS.</p>
    </div>
  </div>

  <!-- Product Compliance -->
  <div class="row main-container" id="compliance-container">
    <div class="small-12 medium-12 large-12 columns">
      <h2 class="ultra dark-blue section-title">PRODUCT <span class="om-font section-title">Compliance</span></h2>
      <h3 class="gotham-book dark-blue section-sub-title">Industry Safety and Quality Standards</h3>
      <a href="http://deltaqa.deltachildrensproducts.com/Gateway/" target="_blank"><img id="icon-compliance" src="//cdn.shopify.com/s/files/1/0578/7201/files/compliance-certification-icon-min.png"></a>
      <p class="gotham-bold" id="text-below-compliance-icon">Our products comply with all 3rd party lab testing regulations set forth by the CPSC/EU Commission.<br>
        <span class="gotham-book">Click below to receive a Certification of Compliance which attests to these requirements.</span>
      </p>

  <!-- button for gift certificate -->
      <a href="http://deltaqa.deltachildrensproducts.com/Gateway/" target="_blank"><button class="learn-more">Get Certificate<div class="arrow-right"></div></button></a>
      <p class="gotham-book" id="compliance-note"><span class="om-font dark-blue" id="note">Note:</span> You will need the following information: Style #, Color, Mfg Date, Date Code/Lot#/PO#</p>
      <a href="/pages/product-label-information"><p class="gotham-bold grey" style="text-decoration: underline;">Where Can I find This Info?</p></a>
      <!-- this is a link -->
    </div>
  </div>

  <!-- footer section -->
  <div class="row main-container" id="foot-container">
    <div class="small-12 medium-12 large-12 columns" id="footer-title-holder">
        <h2 class="dark-blue ultra" id="footer-title-text">IT'S ALL ABOUT <span class="om-font">Safety.</span></h2>
      <!-- three icons below -->
    </div>
    <div class="small-4 medium-4 large-4 columns foot-icon-container">
      <img class="footer-icon" src="//cdn.shopify.com/s/files/1/0578/7201/files/safe-sleep-campaign-icon-min.png">
      <h6 id="s-s-text" class="om-font dark-blue footer-icon-title">SAFE SLEEP CAMPAIGN</h6>
      <p id="donate-text" class="gotham-book grey">We have donated over $4 million to families in need. See how your purchases can save lives.</p>
      <a class="lm-btn-link" href="/pages/safe-sleep-campaign"><button class="learn-more footer-btn">Learn More<div class="arrow-right"></div></button></a>
    </div>
    <div class="small-4 medium-4 large-4 columns foot-icon-container">
      <img class="footer-icon" src="//cdn.shopify.com/s/files/1/0578/7201/files/crib-safety-tips-icon-min.png">
      <h6 id="c-s-text" class="om-font dark-blue footer-icon-title" id="footer-middle-icon">CRIB SAFETY TIPS</h6>
      <p class="gotham-book grey">You can reduce the risk of sleep related deaths by building the safest sleep environment for your baby.</p>
      <a class="lm-btn-link" href="/pages/safety-tips"><button class="learn-more footer-btn">Learn More<div class="arrow-right"></div></button></a>

    </div>
    <div class="small-4 medium-4 large-4 columns foot-icon-container">
      <img class="footer-icon" src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-tips-icon-min.png">
      <h6 id="t-s-child-tips" class="om-font dark-blue footer-icon-title">TODDLER SAFETY &amp; CHILDPROOFING TIPS</h6>
      <p class="gotham-book grey">Is your toddler ready to transition out of the crib? Check out these toddler proofing tips for the whole house.</p>
      <a class="lm-btn-link" href="/pages/toddler-safety-tips"><button class="learn-more footer-btn">Learn More<div class="arrow-right"></div></button></a>
    </div>
  </div>
  <i class="arrow" id="up-leaders-arrow"></i>
  <!-- <img id="up-arrow" src="https://cdn.shopify.com/s/files/1/0578/7201/files/download.png?16401157395433041329"> -->
</div>

<script>
// youtube api
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;

window.onYouTubeIframeAPIReady = function() {
  player = new YT.Player('player', {
    height: '315',
    width: '560',
    videoId: 'Afv2APIfG8o'
  });
}
$('.how_test').click(function(){
  setTimeout(function() {
    player.playVideo();
  }, 700);
});



$('.reveal-modal-bg').click(function(){
  player.stopVideo();
});

if ($(window).width() < 420) {
  $('br.st').remove();
}





// script function calls
clickAndScroll();
scrollArrow();

// scrolling functionality for all 4 buttons
function clickAndScroll(){

  if ( $(window).width() < 667) {

    $("#nav-1").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#how-we-test-container").offset().top - 40},
            'slow');
    });
    $("#nav-2").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#materials-container").offset().top - 40},
            'slow');
    });
    $("#nav-3").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#safety-container").offset().top - 40},
            'slow');
    });
    $("#nav-4").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#compliance-container").offset().top - 40},
            'slow');
    });
  }
  if ( $(window).width() > 667) {
    $("#nav-1").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#how-we-test-container").offset().top},
            'slow');
    });
    $("#nav-2").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#materials-container").offset().top},
            'slow');
    });
    $("#nav-3").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#safety-container").offset().top},
            'slow');
    });
    $("#nav-4").click(function() {
      $('ul#nav-container li').each(function(){
        $(this).removeClass('on');
      });
      $(this).addClass('on');
        $('html,body').animate({
            scrollTop: $("#compliance-container").offset().top},
            'slow');
    });
  }
};

// scroll to top functionality
// shows arrow after 800px and hides if near top of screen
function scrollArrow(){
$(document).scroll(function() {
  var y = $(this).scrollTop();
  if (y > 800) {
    $('#up-leaders-arrow').fadeIn(1000);
  } else {
    $('#up-leaders-arrow').fadeOut(1000);
  }
});
$("#up-leaders-arrow").click(function() {
    $('html,body').animate({
        scrollTop: $("body").offset().top},
        'slow');
});
};

// makes main images tiny for mobile and large for desktop to increase page speed dh-edit 5/8/17
if ( $(window).width() > 667) {
$("img.opt").each(function(){
  $(this).attr('src', $(this).attr('src').replace('_1x1.jpg', '.jpg'));
});
};
if ( $(window).width() < 667) {
  $("img#leaders_mobile_img").attr('src', $("img#leaders_mobile_img").attr('src').replace('_1x1.jpg', '.jpg'));
}

// $(document).ready(function(e) {
//     $('img[usemap]').rwdImageMaps();
// });
//
// $("img#leaders_img").appendTo("section#site-body");
// $("img#leaders_mobile_img").appendTo("section#site-body");
// $("img#leaders_tablet_img").appendTo("section#site-body");
// $("map").appendTo("section#site-body");
// $("div.how_test").appendTo("section#site-body");
// $("#how_test-video").appendTo("section#site-body");
// $("a.link-org").appendTo("section#site-body");


</script>
