<div class="nursery-container">
  <div class="row section nt-title-container" id="t-title-container">
    <div class="small-12 medium-12 large-12 columns make-skinny nt-title-text-container">
      <div id='t-title-text' class="nt-title-text"><h1 class="ultra dark-blue title-font">TODDLER<span class="om-font dark-blue medium">&</span>CHILD PROOFING<span class="om-font dark-blue medium">Tips</span></h1></div><div id='t-bottom-text' class="nt-bottom-text"><h1 class="dark-blue ultra title-font"><span class="om-font">for</span> YOUR HOME</h1></div>
      <h3 class="gotham-book dark-blue desktop">Please share these great child proofing tips for a happy, healthy, and safe home for your toddler.</h3>
    </div>
    <img id="banner-toddlers" src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-top-banner-image.png?6380265608186933589">
  </div>

  <div class="small-12 medium-12 large-12 columns make-skinny mobile nt-sub-text-container">
      <h3 class="gotham-book dark-blue">Please share these great <br><span class="gotham-bold">CHILD PROOFING</span> tips for a <span class="gotham-medium"><i>happy, healthy, and safe home for your toddler.</i></span></h3>
    </div>
  </div>
  <div class="row nt-dtips-container">
    <p class="dark-blue ultra title-font">#DELTA<span class="om-font big">tips</span></p>
    <div class="n-tips-img-holder image-first-tip">
        <img class="n-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-01.jpg?10576359806192208491">
        <div class="social-tips-holder">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-01.jpg?10576359806192208491" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-01.jpg?10576359806192208491" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-01.jpg?10576359806192208491"><img class="social" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
      </div>
    </div>
    <div class="n-tips-img-holder image-second-tip">
      <img class="n-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-02.jpg?10576359806192208491">
      <div class="social-tips-holder">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-02.jpg?10576359806192208491" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-02.jpg?10576359806192208491" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-02.jpg?10576359806192208491">Twitshot</a>
      </div>
    </div>
  </div>
  <div class="row nt-dtips-container" id='second-nt-dtips-container'>
    <div class="n-tips-img-holder image-third-tip" id="third-img-holder">
      <img class="n-box-img" id="third-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-03.jpg?10576359806192208491">
      <div class="social-tips-holder">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-03.jpg?10576359806192208491" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-03.jpg?10576359806192208491" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-03.jpg?10576359806192208491">Twitshot</a>
      </div>
    </div>
    <div class="n-tips-img-holder image-fourth-tip" id="fourth-img-holder">
      <img class="n-box-img" id="fourth-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?10576359806192208491">
      <div class="social-tips-holder desktop">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?10576359806192208491" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?10576359806192208491" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?10576359806192208491">Twitshot</a>
      </div>
      <div class="social-tips-holder mobile">
      <!-- pinterest sharing button -->
      <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?17800890437547220023" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
      <!-- facebook -->
      <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?17800890437547220023" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
      <!-- Twitter -->
      <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-page-TIPS-desktop-04.jpg?17800890437547220023">Twitshot</a>
      </div>
    </div>
  </div>

  <div class="social-holder"><h6 class="nt-social-text" class="gotham-book">Follow us on social media and share our great safety tips!</h6>
    <ul class="social-icons nt-safety-social">
      {% include 'socialMediaHome' %}
    </ul>
  </div>

  <div class="row section nt-faq-container" id='t-faq-container'>
    <div class="small-12 medium-12 large-12 columns make-skinny faq-text-holder">
      <div class="top-FAQ-text"><h2 class="section-title ultra dark-blue"> <span class="om-font">Frequently</span> ASKED QUESTIONS</h2></div>
      <div class="bottom-FAQ-text"><h2 class="ultra dark-blue">About <span class="om-font">Toddler Proofing</span> Your Home</h2></div>
      <p class="dark-blue gotham-book section-sub-title">
        As your child grows from a baby to a toddler, your concerns over their safety shift and change to reflect their age. We took the time to answer some of the most frequently asked questions about toddler safety and childproofing your home below. The following FAQ section covers everything from cabinet and door child proofing, windows and electrical best practices, the best child proofing services, DIY child proofing, and child proofing for tricky areas like fireplaces, staircases, and more.
      </p>
      <h6 class="grey gotham-bold faq">HOW LONG SHOULD A TODDLER SLEEP IN A CRIB?</h6>
      <p class="grey gotham-book faq-answer">Most children transition out of a crib between 18 months and 2&frac12; years, typically when a toddler reaches the height of 35 inches. The reason for this is primarily safety. Depending on how active and restless your child is, he/she may begin exploring ways to climb out of the crib at any point in those months, so the decision about when to transition to a big-kid bed should be made when it is no longer safe to leave the toddler in the crib unattended. Parents should never use crib tents or other restraints, since children risk getting caught and suffocating. Instead, many parents move their child to a toddler bed, which uses the same size mattress as a crib.</p>
      <h6 class="grey gotham-bold faq">WHY WONT MY TODDLER SLEEP?</h6>
      <p class="grey gotham-book faq-answer">Many toddlers just aren’t great sleepers: they may find it hard to fall asleep, or they may not be great at sleeping through the night. Since getting enough sleep is essential to a toddler’s physical and mental health (not to mention that of their parents!), there are a number of toddler sleep aids that parents can try. Ultimately, the goal is to help toddlers learn to independently soothe themselves and put themselves to sleep. However, it is very common for toddlers to experience sleep regression from time to time, where formerly good sleepers go back to fighting their bedtime and middle of the night wake-ups. Experts say this is often due to short-term factors like illness, teething, interruptions in their routine, or milestone transitions (such as moving to a new bed, the birth of a sibling, or potty training). Generally these kinds of regressions are temporary and resolve themselves in a few weeks, so they usually require a lot of short-term patience, rather than a long-term change to the sleep routine.</p>
      <h6 class="grey gotham-bold faq">WHAT IS THE RIGHT SLEEP SCHEDULE FOR MY TODDLER?</h6>
      <p class="grey gotham-book faq-answer bottom-padding">By the time a child is two years old, he/she will typically be sleeping 11-13 hours per night, in addition to an afternoon nap. However, every child is different, and you should check with your pediatrician about what a healthy sleep schedule is for your own child. It is is very common for toddlers to start resisting naps at the two year mark, now that they start to become social—after all, who wants to nap when there is fun to be had? But toddlers are also learning to exert their independence, and oftentimes this manifests in their not wanting to take a nap, even when they are exhausted and clearly need one. That’s why experts say that parents should avoid giving up the afternoon nap at this age. In fact, many toddlers will keep their nap until 4 & 5 years old.
      </p>

            <!-- <a class="lm-btn-link" href="/blogs/the-play-yard"><button class="learn-more footer-btn">Read More<div class="arrow-right"></div></button></a> -->
            <!-- read more button -->
    </div>
  </div>

  <div class="row section nt-crib-container">

    <div class="small-12 medium-12 large-12 columns crib-text-holder" id="t-crib-text-holder">
      <div class="safety-title-text">
        <h2 class="section-title ultra dark-blue">TODDLER <span class="om-font">SAFETY</span> ANYWHERE THEY GO</h2>
      </div>
      <p class="grey gotham-book">Just because your baby has grown into a toddler doesn’t mean your concerns over their safety have disappeared. In fact, you may have even more concerns about their safety now than you did when they were a baby – after all, toddlers are more mobile and independent than babies.
        <span>With this adventurous spirit also comes some new dangers. Use our tips for toddler-proofing your home so you can rest easy while they’re on the go.
        </span>
      </p>
      <a class="lm-btn-link lm-crib-safety" href="/blogs/the-play-yard"><button class="learn-more footer-btn">Learn More<div class="arrow-right"></div></button></a>
    </div>
  </div>

  <div class="row section" id="t-blog-background">
    <div class="small-12 medium-12 large-12 columns nt-blog-title-container">
      <div class="blog-top-title" id=blog-t-title><h2 class="ultra dark-blue">RELATED<span class="om-font">Toddler</span> PROOFING</h2></div><div class="blog-title-bottom" id='blog-t-bottom'><h2 class="ultra dark-blue">ARTICLES <span class="om-font">from</span> OUR BLOG</h2></div>
    </div>
    <div class="nt-blog-container">
      <div class="horiz-scroll-container">
        <div class="small-4 medium-4 large-4 columns blog-content">
          <div class="blog-content-container">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-BLOG-desktop-room-makeover.png?10576359806192208491">
            <div class="article-padding">
              <h6 class="grey gotham-black">Toddler Room Makeover</h6>
              <p class="grey gotham-book">Once toddler baby is ready to transition out of the crib, it’s usually time for a room makeover that reflects your little one’s growing personality. Set up a room that is safe and fun for this big transition.</p>
                <a href="/blogs/the-play-yard/toddler-room-makeover"><p class="dark-blue gotham-black read-more">Read More ></p></a>
            </div>
            <div class="transparent-background"></div>
          </div>
        </div>
        <div class="small-4 medium-4 large-4 columns blog-content">
          <div class="blog-content-container">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safety-BLOG-desktop-bedtime-routine.png?10576359806192208491">
            <div class="article-padding">
              <h6 class="grey gotham-black">Establish Bedtime Routines With Your Toddler</h6>
              <p class="grey gotham-book">Once your toddler discovers the wonders of television and toys, it can be hard to get them to go to sleep at night. We have the ultimate routine to help make bedtime a little easier.</p>
                <a href="/blogs/the-play-yard/how-to-establish-bedtime-routines-with-your-toddler"><p class="dark-blue gotham-black read-more">Read More ></p></a>
            </div>
            <div class="transparent-background"></div>
          </div>
        </div>
        <div class="small-4 medium-4 large-4 columns blog-content">
          <div class="blog-content-container">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/toddler-safet-BLOG-desktop-baby2.png?10576359806192208491">
            <div class="article-padding">
              <h6 class="grey gotham-black">How to Prepare Your Child for Baby #2</h6>
              <p class="grey gotham-book">TA new baby can be a big adjustment for your toddler. Here are some tips you can work on ahead of time to help your toddler get prepared for the new arrival.</p>
                <a href="/blogs/the-play-yard/preparing-your-child-for-baby-2"><p class="dark-blue gotham-black read-more">Read More ></p></a>
            </div>
            <div class="transparent-background"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-12 large-12 columns" id="blog-btn-container">
      <a class="lm-btn-link" href="/blogs/the-play-yard"><button class="learn-more footer-btn">Read More<div class="arrow-right"></div></button></a>
    </div>
  </div>
    <img class="show-for-small-only" id="blog-left-arrow" src="//cdn.shopify.com/s/files/1/0578/7201/files/Left_Arrow.png">
    <img class="show-for-small-only" id="blog-right-arrow" src="//cdn.shopify.com/s/files/1/0578/7201/files/Right_Arrow.png">

<!-- script for pinterest image upload -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<!-- script for twitShot (Twitter image upload app) -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://ssl.twitshot.com/share-button.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitshot-bjs');</script>
<script>
// function instances for scrolling in "Related Articles" section
$(function() {
  blogScrollLeft();
  blogScrollRight();
    // shows social icons on load for mobile, hides for desktop until hover over
    if ( $(window).width() > 667) {
      hideDisplaySocial();

      //styles desktop so that cloud background is included in header
      $('#site-header').prependTo('#t-title-container');
      $('#site-header').css('background-color', 'transparent');
      $('.top-bar-section li a').css('color','#1a3d6e' );
      $('ul.dropdown').css('background-color', 'white');
      $('ul.dropdown').css('opacity', '.8');
//       $('#site-header div.row div.small-12.columns').css('width', '83%');
//       $('#site-header div.row div.small-12.columns').css('left', '8.3%');
    }
});

function blogScrollLeft(){
  $("img#blog-right-arrow").click(function(event){
    event.preventDefault();
    $("#n-blog-container").animate({
    scrollLeft: "+=300px"
  }, "slow");
  });
};
function blogScrollRight(){
  $("img#blog-left-arrow").click(function(event){
    event.preventDefault();
    $("#n-blog-container").animate({
    scrollLeft: "-=300px"
  }, "slow");
  });
};
function hideDisplaySocial(){
  $('.n-tips-img-holder').hover(function(){
    $(this).children('.social-tips-holder').show();
    },
    function(){
    $(this).children('.social-tips-holder').hide();
    }
  );
}
</script>
