<!-- The Modal -->
<div id="myModal" class="rulesModal">

  <!-- Modal content -->
  <div class="modal-content">
    <span id="cls" class="close">x</span>
    <p>OFFICIAL RULES (the “Rules”)
	Delta Children’s Product Review Sweepstakes (the “Sweepstakes”)
	<br><br>
  1. Eligibility: Sweepstakes is open only to those who are eighteen (18) years of age or older as of the date of entry. The sweepstakes is only open to legal residents of The United States of America and Canada and is void where prohibited by law. Employees of Delta Enterprise Corp. (the “Sponsor”), their respective affiliates, subsidiaries, advertising and promotion agencies, suppliers and their immediate family members and/or those living in the same household of each are not eligible to participate in the Sweepstakes. The Sweepstakes is subject to all applicable federal, state and local laws and regulations.
	<br><br>
  2. Agreement to Rules: By participating, you agree to be fully unconditionally bound by these Rules, and you represent and warrant that you meet the eligibility requirements set forth herein. In addition, you agree to accept the decisions of Sponsor as final and binding. 
     <br><br>
  3. Entry Period: Entries will be accepted online starting on or about January 16th 2018 and ending January 15th 2019 (the “Entry Period”). All online entries must be received by 11:59PM EST on January 15th 2019. 
     <br><br>
  4. How to Enter: There are two (2) methods of entry: the Online Method of Entry and the alternate Mail-in Method of Entry outlined below. Entries using macro, robotic, script or other forms of automatic entry will be disqualified. Entries become the property of the Sponsor and will not be returned. Proof of submission does not constitute proof of receipt. If there is a dispute as to the identity of an entrant, the Prize (defined below) will be awarded to the authorized account holder of the email address associated with the winning entry. The "Authorized Account Holder" is defined as the natural person to whom the email address is assigned by an Internet service provider, online service provider or other organization (e.g., business, educational institution, etc.) that is responsible for assigning email addresses for the domain associated with the submitted email address. If a dispute cannot be resolved to Sponsor's satisfaction, the affected entry will be deemed ineligible. 
     <br><br>
  5. Online Method of Entry: During the Entry Period, eligible participants can enter the Sweepstakes by doing both of the following: a) write a review of a Sponsor’s product on the retailer’s website from where you purchased the product; and b) upload a screenshot of the email confirming receipt of your review, or of the product review to http://www.deltachildren.com/pages/review. After successfully transmitting the email upload, you will automatically be entered into the Sweepstakes ("Online Entry"). Limit: one (1) Online Entry per person and/or per email address per day, regardless of whether one person has more than one email address or more than one person uses the same email address. 
     <br><br>
  6. Alternative Mail-In Method of Entry: To avoid providing a product review, you may enter by the alternate Mail-in Method of Entry instead of the Online Method described above. To enter via this method, handwrite your first and last name, street address and email address on a plain 3" x 5" piece of paper and mail entry via first-class mail to: Product Review Sweepstakes, Attn: Marketing, 114 W. 26th Street, New York, NY 10001 ("Mail-in Entry"). Mail-in Entries must be postmarked by December 21st 2018, and received by December 31st 2018. Each Mail-in Entry must be mailed separately. Sponsor is not responsible for late, lost, damaged or postage-due mail. 
     <br><br>
  7. Prizes: Winners will receive a $500 American Express&reg; gift card. The specifics of the prize shall be solely determined by the Sponsor. No cash or other prize substitution permitted except at Sponsor's discretion. The prize is nontransferable. Any and all prize related expenses, including without limitation any and all federal, state, and/or local taxes shall be the sole responsibility of the winner. No substitution of prize or transfer/assignment of prize to others or request for the cash equivalent by winners is permitted. Acceptance of prize constitutes permission for Sponsor to use winner's name, likeness, and entry for purposes of advertising and trade without further compensation, unless prohibited by law.
	<br><br>
  8. Odds: The odds of winning depend on the number of eligible entries received.
	<br><br>
  9. Winner Selection and Notification: One (1) potential winner (“Potential Winner”) will be selected from the collective entries received in accordance with these Rules. Sweepstakes will be selected in a random drawing under the supervision of the Sponsor, and the drawing will occur quarterly on or about the 15th of April, July, October and January. All entries will be listed and numbered on a spreadsheet, including mail-in entries, and a random number will be generated through an independent computer program, using a blind procedure, which will reveal the Potential Winner. The Potential Winner need not be present to win, and will be notified via email to the email address they entered the Sweepstakes within five (5) days following the winner selection to verify eligibility and confirm them as winners. Sponsor shall have no liability for a winner's failure to receive notices due to winners' spam, junk e-mail or other security settings or for winners' provision of incorrect or otherwise non-functioning contact information. If the selected winner cannot be contacted, is ineligible, fails to claim the prize within 15 days from the time award notification was sent, or fails to timely return a completed and executed declaration and releases as required, prize may be forfeited and an alternate winner selected. Winners may be required to sign an affidavit of eligibility and a liability and publicity release ("Affidavit") at Sponsor’s discretion before they are confirmed as Winners. Should this be the case, the Potential Winners must return the completed Affidavit within five (5) business days from the date of notification or the Prize will be forfeited and awarded to an alternate winner selected at random. Once each Potential Winner's eligibility is verified, he/she will be confirmed as a winner ("Winner"). Prizes will be sent to the Winner within thirty (30) days from the date the Winner is confirmed. The receipt by winner of the prize offered in this Sweepstakes is conditioned upon compliance with any and all federal and state laws and regulations. ANY VIOLATION OF THESE OFFICIAL RULES BY ANY WINNER (AT SPONSOR'S SOLE DISCRETION) WILL RESULT IN SUCH WINNER'S DISQUALIFICATION AS WINNER OF THE SWEEPSTAKES AND ALL PRIVILEGES AS WINNER WILL BE IMMEDIATELY TERMINATED. 
    <br><br>
  10. Rights Granted by you: By entering this content you understand that Sponsor, anyone acting on behalf of Sponsor, or its respective licensees, successors and assigns will have the right, where permitted by law, without any further notice, review or consent to print, publish, broadcast, distribute, and use, worldwide in any media now known or hereafter in perpetuity and throughout the World, your entry, including, without limitation, the entry and winner's name, portrait, picture, voice, likeness, image or statements about the Sweepstakes, and biographical information as news, publicity or information and for trade, advertising, public relations and promotional purposes without any further compensation. 
    <br><br>
  11. Terms: Sponsor reserves the right, in its sole discretion to cancel, terminate, modify or suspend the Sweepstakes should (in its sole discretion) a virus, bugs, non-authorized human intervention, fraud or other causes beyond its control corrupt or affect the administration, security, fairness or proper conduct of the Sweepstakes. In such case, Sponsor may select the recipients from all eligible entries received prior to and/or after (if appropriate) the action taken by Sponsor. Sponsor reserves the right at its sole discretion to disqualify any individual who tampers or attempts to tamper with the entry process or the operation of the Sweepstakes or website or violates these Terms & Conditions. Sponsor has the right, in its sole discretion, to maintain the integrity of the Sweepstakes, to void votes for any reason, including, but not limited to; multiple entries from the same user from different IP addresses; multiple entries from the same computer in excess of that allowed by sweepstakes rules; or the use of bots, macros or scripts or other technical means for entering. Any attempt by an entrant to deliberately damage any web site or undermine the legitimate operation of the sweepstakes may be a violation of criminal and civil laws and should such an attempt be made, Sponsor reserves the right to seek damages from any such person to the fullest extent permitted by law. 
    <br><br>
  12. Limitation of Liability: By entering you agree to release and hold harmless Sponsor and its subsidiaries, affiliates, advertising and promotion agencies, partners, representatives, agents, successors, assigns, employees, officers and directors from any liability, illness, injury, death, loss, litigation, claim or damage that may occur, directly or indirectly, whether caused by negligence or not, from (i) such entrant's participation in the sweepstakes and/or his/her acceptance, possession, use, or misuse of any prize or any portion thereof, (ii) technical failures of any kind, including but not limited to the malfunctioning of any computer, cable, network, hardware or software; (iii) the unavailability or inaccessibility of any transmissions or telephone or Internet service; (iv) unauthorized human intervention in any part of the entry process or the Promotion; (v) electronic or human error which may occur in the administration of the Promotion or the processing of entries. 
    <br><br>
  13. Disputes: THIS SWEEPSTAKES IS GOVERNED BY THE LAWS OF THE UNITED STATES OF AMERICA AND NEW YORK, WITHOUT RESPECT TO CONFLICT OF LAW DOCTRINES. As a condition of participating in this Sweepstakes, participant agrees that any and all disputes which cannot be resolved between the parties, and causes of action arising out of or connected with this Sweepstakes, shall be resolved individually, without resort to any form of class action, exclusively before a court located in the State of New York, County of New York having jurisdiction. Further, in any such dispute, under no circumstances will participant be permitted to obtain awards for, and hereby waives all rights to claim punitive, incidental, or consequential damages, including reasonable attorneys' fees, other than participant's actual out-of-pocket expenses (i.e. costs associated with entering this Sweepstakes), and participant further waives all rights to have damages multiplied or increased. 
    <br><br>
  14. Privacy Policy: Information submitted with an entry is subject to the Privacy Policy stated on the Sponsor’s Web Site. To read the Privacy Policy, click here: <a href="http://www.deltachildren.com/pages/privacy-policy" target="_blank">terms of privacy</a>.
    <br><br>
  15. Winners List: To obtain a copy of the winner's name or a copy of these Official Rules, mail your request along with a stamped, self-addressed envelope to: Attn: Marketing, 114 W. 26th Street, New York, NY 10001. Requests must be received no later than December 31st 2018. 
    <br><br>
  16. Sponsor: The Sponsor of the Sweepstakes is Delta Enterprise Corp., located at 114 W. 26th Street, New York, NY 10001, USA.
  <br><br>
	NO PURCHASE IS NECESSARY TO ENTER OR WIN. A PURCHASE DOES NOT INCREASE THE CHANCES OF WINNING.
  <br><br>

	<button id="btncls">Close</button>
</p>
  </div>

</div>
<!-- END Modal -->
<div class="row padded-v">
	<div class="small-10 small-push-1 columns">
		<h1>
			Submit Your Review
		</h1>
        <h4>Write a review on the retailer’s website from where you purchased your Delta Children’s product (online or in store).</h4>
        <p>Fill out the information below and upload a screen shot of your review.</p>
        <p>Upon submission, you will be instantly entered into the next drawing to win a $500 American Express&reg; gift card.<br>
          Winners will be announced and emailed directly around April 15, 2018, July 15, 2018, October 15, 2018, and January 15, 2019.</p>
		<p class="regulations">Click <a id="myBtn" class="rules-modal" href="#rulesModal">here</a> to view the rules and regulations for this promotion.</p>
		  <p>If you are unable to upload your review, please forward the email confirmation (or screenshot of the confirmation) of your review to CS@DeltaNYC.com.</p>
      <p>Please include the retailer and name of the product in your email.</p>

 <iframe id="JotFormIFrame-53565842867167" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="https://form.jotform.com/53565842867167" frameborder="0" style="width:100%; height:868px !important; border:none;" scrolling="no"> </iframe>
 <script type="text/javascript"> window.handleIFrameMessage = function(e) { var args = e.data.split(":"); var iframe = false; if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[2]); } else { iframe = document.getElementById("JotFormIFrame"); } if (!iframe) return; switch (args[0]) { case "scrollIntoView": iframe.scrollIntoView(); break; case "setHeight": iframe.style.height = args[1] + "px"; break; case "collapseErrorPage": if (iframe.clientHeight > window.innerHeight) { iframe.style.height = window.innerHeight + "px"; } break; case "reloadPage": window.location.reload(); break; } var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false; if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) { var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)}; iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*"); } }; if (window.addEventListener) { window.addEventListener("message", handleIFrameMessage, false); } else if (window.attachEvent) { window.attachEvent("onmessage", handleIFrameMessage); } if(window.location.href && window.location.href.indexOf("?") > -1) { var ifr = false; if (args.length > 2) { ifr = document.getElementById("JotFormIFrame-" + args[2]); } else { ifr = document.getElementById("JotFormIFrame"); } var get = window.location.href.substr(window.location.href.indexOf("?") + 1); if(ifr && get.length > 0) { var src = ifr.src; src = src.indexOf("?") > -1 ? src + "&" + get : src + "?" + get; ifr.src = src; } } </script>


    <!-- <iframe
      id="JotFormIFrame-53565842867167"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      src="https://form.jotform.com/53565842867167"
      frameborder="0"
      style="width:100%;
      height:900px!important;
      border:none;"
      scrolling="no">
    </iframe>
    <script type="text/javascript">
      window.handleIFrameMessage = function(e) {
        var args = e.data.split(":");
        var iframe = false;
        if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[2]); } else { iframe = document.getElementById("JotFormIFrame"); }
        if (!iframe)
          return;
        switch (args[0]) {
          case "scrollIntoView":
            iframe.scrollIntoView();
            break;
          case "setHeight":
            iframe.style.height = 900 + "px";
            break;
          case "collapseErrorPage":
            if (iframe.clientHeight > window.innerHeight) {
              iframe.style.height = window.innerHeight + "px";
            }
            break;
          case "reloadPage":
            window.location.reload();
            break;
        }
        var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false;
        if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) {
          var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)};
          iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*");
        }
      };
      if (window.addEventListener) {
        window.addEventListener("message", handleIFrameMessage, false);
      } else if (window.attachEvent) {
        window.attachEvent("onmessage", handleIFrameMessage);
      }
      if(window.location.href && window.location.href.indexOf("?") > -1) {
        var ifr = false;
        if (args.length > 2) { ifr = document.getElementById("JotFormIFrame-" + args[2]); } else { ifr = document.getElementById("JotFormIFrame"); }
        var get = window.location.href.substr(window.location.href.indexOf("?") + 1);
        if(ifr && get.length > 0) {
          var src = ifr.src;
          src = src.indexOf("?") > -1 ? src + "&" + get : src  + "?" + get;
          ifr.src = src;
        }
      }
      </script> -->
      <br>
      <p>If you are unable to upload your review, please forward the email confirmation (or screenshot of the confirmation) of your review to CS@DeltaNYC.com.</p>
      <p>Please include the retailer and name of the product in your email.</p>
  </div>
</div>

<style>
#content-wrap {
	padding: 0;
}

.regulations {
	margin-top: 10px;
}

/* The Modal (background) */
.rulesModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #487ed6;
    text-decoration: none;
    cursor: pointer;
}

</style>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// Get the <span> element that closes the modal
var cls = document.getElementById("cls");
var btncls = document.getElementById("btncls");

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
cls.onclick = function() {
    modal.style.display = "none";
}
btncls.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}




</script>
