<div id="page2-notMobile">
  <br>
  <br>
  <br>
  <br>
  <h1 style="color: #437ABE;">Press Room</h1>
<p id="video-link" style="float:right;"><i>Click here to view </i>&nbsp;<a href="https://deltachildren.com/pages/videos"><b>Press Videos</b></a></p>
<br>
<br>

<h3 style="float: left;"><a title="Delta Children featured on Mrs. Coco Wyse" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Mrs_Coco_Wyse.pdf?1364445380213782470"><img alt="Delta Children featured on Mrs. Coco Wyse" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Mrs-Coco-Wyse-Press-Page-Image_compact.png?v=1472577085" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">Mrs. Coco Wyse: <em>Baby Boy Nursery &amp; Welcome!</em></span></h3>
<h6><span style="color: #444444;">June 25, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Epic Glider in browser" target="_blank" href="http://www.deltachildren.com/products/epic-glider/?variant=15946628675">Epic Glider</a> looks stunning in this neutral and calm nursery styled and put together by Courtney Wyse.<br /></em></span></p>
<p><a title="Delta Children featured on Mrs. Coco Wyse" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Mrs_Coco_Wyse.pdf?1364445380213782470"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<!-- <p><span style="color: #666666;"><span style="text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"> </span></span></span></p> -->
<!-- <h3 style="float: left;"><a title="Delta Children featured on The DIY Playbook" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_DIY_Playbook.pdf?11703990626405761935"><img alt="Delta Children featured on The DIY Playbook" src="https://cdn.shopify.com/s/files/1/0578/7201/files/DIY-Playbook-Press-Page-Image_compact.png?v=1472505740" style="float: left; margin-right: 20px;" /></a></h3> -->
<h3><span style="color: #444444;">The DIY Playbook: </span><em><span style="color: #444444;">Happy Camper Nursery Source List</span><br /></em></h3>
<h6><span style="color: #444444;">June 24, 2016</span></h6>
<p><em><span style="color: #666666;">Blogger The DIY Playbook reveals the source list from her beautiful gender neutral nursery featuring Delta Children's</span> <a title="View Manhattan 3-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/manhattan-3-in-1-crib?variant=11177724611">Manhattan 3-in-1 Crib</a> <span style="color: #666666;">and</span> <a title="View Ava Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/ava-upholstered-glider-graphite">Ava Upholstered Glider</a><span style="color: #666666;">.</span> </em></p>
<p><a title="Delta Children Featured on The DIY Playbook" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_DIY_Playbook.pdf?11703990626405761935"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a> </p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Lacey Chabert's Nursery on People.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Lacey_Chamberts_nursery_on_People.com.pdf?1364445380213782470"><img alt="Delta Children featured in Lacey Chabert's Nursery on People.com" src="https://cdn.shopify.com/s/files/1/0578/7201/files/People.com-Lacey-Chabert-Press-Page-Image_compact.png?v=1472577600" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">People.com: <em>Pretty in Pink! Inside Lacey Chabert’s ‘Feminine and Romantic’ Nursery</em></span></h3>
<h6><span style="color: #444444;">June 23, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Epic Glider in browser" target="_blank" href="http://www.deltachildren.com/products/epic-glider/?variant=15946628675">Epic Glider</a> stands out in Mean Girls' Lacey Chabert's beautiful nursery.</em></span></p>
<p><a title="Delta Children featured in Lacey Chabert's Nursery on People.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Lacey_Chamberts_nursery_on_People.com.pdf?1364445380213782470"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Frills &amp; Drills" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Frills_Drills.pdf?17598708003842598038"><img alt="Delta Children featured on Frills &amp; Drills" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Frills-Drills-Press-Page-Image_compact.png?v=1472588874" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #666666;"><span style="text-decoration: underline;"></span><span style="color: #444444;">Frills &amp; Drills: <em>Nursery Reveal</em><br /></span></span></h3>
<h6><span style="color: #666666;"><span style="color: #444444;">June 16, 2016<br /></span></span></h6>
<p><span style="color: #666666;"><em>Blogger Frills &amp; Drills' gentle safari themed nursery is completed by  the subtle of presence of Delta Children's <a title="View Fancy 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/fancy-4-in-1-crib?variant=15944500611">Fancy 4-in-1 Crib</a>.</em></span></p>
<p><a title="Delta Children featured on Frills &amp; Drills" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Frills_Drills.pdf?17598708003842598038"><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"><em>Read More...</em></span></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Island Fever Sisters on AOL.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Island_Fever_Sisters_on_Aol.com.pdf?4772105401649133703"><img alt="Delta Children featured in Island Fever Sisters on AOL.com" src="https://cdn.shopify.com/s/files/1/0578/7201/files/AOL.com-Island-Fever-Sisters-Press-Page-Image_compact.png?v=1472591929" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #0000ff;"></span><span style="color: #444444;">AOL.com: <em>A Nursery That Your Child Can Grow Into</em></span></h3>
<h6><span style="color: #444444;">June 14, 2016</span></h6>
<p><span style="color: #666666;"><em>Island Fever Sisters' vibrant nursery is featured on AOL.com for its bold and stylish design which stars Delta Children's <a title="View Tribeca 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/tribeca-4-in-1-crib-whitegrey">Tribeca 4-in-1 Convertible Crib</a> that grows with your child.</em></span></p>
<p><a title="Delta Children featured in Island Fever Sisters on AOL.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Island_Fever_Sisters_on_Aol.com.pdf?4772105401649133703"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Lauren McBride" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Lauren_McBride.pdf?7250584729745803716"><span style="color: #000000;"><img alt="Delta Children featured on Lauren McBride" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Lauren-McBride-Press-Page-Image_compact.png?v=1472507431" style="float: left; margin-right: 20px;" /></span></a></h3>
<h3 style="text-align: left;"><span style="color: #444444;">Lauren McBride: <em>Whimsical, Bohemian Girl's Nursery</em></span></h3>
<h6><span style="color: #444444;">May 11, 2016</span></h6>
<p><span style="color: #666666;"><em>Lauren McBride puts together a soft nursery with pink touches for her daughter, Noelle, featuring Delta Children's <a title="View Avery Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/avery-upholstered-glider?variant=15947860995">Avery Upholstered Glider.</a></em></span></p>
<p><a title="Delta Children featured on Lauren McBride" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Lauren_McBride.pdf?7250584729745803716"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on The Street" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Street.pdf?18321339467758725580"><img alt="Delta Children featured on The Street" src="https://cdn.shopify.com/s/files/1/0578/7201/files/The-Streeet-Press-Page-Image_compact.png?v=1472667718" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">The Street: <em>These Gift Ideas Will Make You Mom’s Favorite on Mother’s Day</em><span style="text-decoration: underline;"></span></span></h3>
<h6><span style="color: #666666;"><span style="color: #444444;">April 8, 2016</span><br /></span></h6>
<p><em><span style="color: #666666;">Delta Children's <a title="View Set of Three Tapered Totes in browser" target="_blank" href="http://www.deltachildren.com/products/tapered-tote?variant=11176550659">Set of Three Tapered Totes</a> and <a title="View Sesame Street Deluxe Multi-Bin Toy Organizer in browser" target="_blank" href="http://www.deltachildren.com/products/sesame-street-deluxe-multi-bin-toy-organizer">Sesame Street Deluxe Multi-Bin Toy Organizer</a> are featured as top picks for Mother's Day gifts on The Street.</span></em></p>
<p><a title="Delta Children featured on The Street" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Street.pdf?18321339467758725580"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children Featured on J'adore Lexie Couture" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_J_Adore_Lexie_Couture.pdf?6066315601149550379"><img alt="Delta Children Featured on J'adore Lexie Couture" src="https://cdn.shopify.com/s/files/1/0578/7201/files/JAdore-Lexie-Couture-Press-Page-Image_compact.png?v=1472660435" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">J'Adore Lexie Couture: <em>The Perfect Room Made for a Little Princess</em></span></h3>
<h6><span style="color: #444444;">February 29, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Princess Carriage Convertible Toddler-to-Twin Bed in browser" target="_blank" href="http://www.deltachildren.com/products/disney-princess-carriage-toddler-to-twin-bed">Princess Carriage Convertible Toddler-to-Twin Bed</a> proves to be the perfect addition to blogger J'Adore Lexie Coutoure's little princess's room.</em></span></p>
<p><span style="text-decoration: underline; color: #0000ff;"><em><span style="color: #666666; text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"><span><em><span style="color: #444444; text-decoration: underline;"><a title="Delta Children Featured on J'adore Lexie Couture" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_J_Adore_Lexie_Couture.pdf?6066315601149550379"><span style="color: #0000ff; text-decoration: underline;">Read More...</span></a></span></em></span></span></span></em></span></p>
<hr>
<h3 style="float: left;"> <a title="Delta Children featured on Positively Oakes" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Positively_Oakes_Blake_s_Indie_Nursery.pdf?1713051489322416594"><img alt="Delta Children featured on Positively Oakes" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Positively-Oakes-Indie-Nursery-Press-Page-Image_compact.png?v=1472570599" style="margin-right: 20px; float: left;" /></a><a target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Positively_Oakes_Blake_s_Indie_Nursery.pdf?1713051489322416594"></a></h3>
<h3><span style="color: #444444;">Positively Oakes: <em>Blake's Indie Nursery</em></span></h3>
<h6><span style="color: #444444;">January 5, 2016</span></h6>
<p><span style="color: #666666;"><em>Positively Oakes built her baby's indie nursery around these key pieces from Delta Children: <a title="View Disney Princess Magical Dreams 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/collections/cribs/products/princess-magical-dreams-4-in-1-crib">Disney Princess Magical Dreams 4-in-1 Crib</a>, <a title="View Disney Princess Magical Dreams Dresser in browser" target="_blank" href="http://www.deltachildren.com/products/princess-magical-dreams-dresser/?variant=15944702595">Disney Princess Magical Dreams Dresser</a>, and <a title="View Eva Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/eva-glider?variant=23009601347">Eva Upholstered Glider</a>. </em></span></p>
<p><a title="Delta Children featured on Positively Oakes" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Positively_Oakes_Blake_s_Indie_Nursery.pdf?1713051489322416594"><em><span style="text-decoration: underline; color: #0000ff;">Read More...</span></em></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Pregnancy &amp; Newborn Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Pregnancy_Newborn_January_Issue.pdf?9591571260952127375"><img alt="Delta Children featured in Pregnancy &amp; Newborn Magazine" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Pregnancy-Newborn-Press-Page-Image_compact.png?v=1472589945" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">Pregnancy &amp; Newborn: <em>Gender Neutral Nursery Design</em></span></h3>
<h6 style="float: left;"><span style="color: #444444;">January 2016</span></h6>
<p> </p>
<p><span style="color: #666666;"><em>Pregnancy &amp; Newborn featured Delta Children's <a title="View Lux Swivel Chair in browser" target="_blank" href="http://www.deltachildren.com/products/lux-swivel-chair?variant=11177585283">Lux Swivel Chair</a> as the perfect accessory to a gender neutral nursery.</em></span></p>
<p><a title="Delta Children featured in Pregnancy &amp; Newborn Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Pregnancy_Newborn_January_Issue.pdf?9591571260952127375"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Better Homes and Gardens" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Better_Homes_and_Gardens_Online.pdf?16514790265335243745"><img alt="Delta Children featured on Better Homes and Gardens" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Better-Homes-and-Gardens-Press-Page-Image_compact.png?v=1472574141" style="float: left; margin-right: 20px;" /></a></h3>
<h3><span style="color: #444444;">Better Homes and Gardens: <em>Tiny Rooms with Big Personality</em></span></h3>
<h6>January 2016</h6>
<p><span style="color: #666666;"><em>Honey We're Home's collab with Delta Children featuring the <a title="View Epic 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/epic-4-in-1-crib-grey?variant=11176720387">Epic 4-in-1 Crib</a>, <a title="View Epic 3 Drawer Dresser in browser" target="_blank" href="http://www.deltachildren.com/products/epic-3-drawer-dresser-grey/?variant=11176703683">Epic 3 Drawer Dresser</a>, and <a title="View Epic Glider in browser" target="_blank" href="http://www.deltachildren.com/products/epic-glider/?variant=15752290627">Epic Glider</a> receives an A+ in style from Better Homes and Gardens.</em></span></p>
<p><a title="Delta Children featured on Better Homes and Gardens" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Better_Homes_and_Gardens_Online.pdf?16514790265335243745"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3><a title="Delta Children featured on The Style Editrix" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Style_Editrix.pdf?11328235588006697226"><img alt="Delta Children featured on The Style Editrix" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Style-Editrix-Ava-Press-Page-Image_compact.png?v=1472497092" style="float: left; margin-right: 20px;" /></a><span style="color: #444444;">The Style Editrix: <em>Nursery Reveal</em></span></h3>
<h6><span style="color: #444444;">November 30, 2015</span></h6>
<p><span style="color: #666666;"><em>The Style Editrix shares her dream nursery come true featuring Delta Children's <a title="View Ava 3-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/ava-3-in-1-crib-white?variant=15946867907">Ava 3-in-1 Crib</a>, <a title="View Haven 6 Drawer Dresser in browser" target="_blank" href="http://www.deltachildren.com/products/haven-6-drawer-dresser-white?variant=11176611587">Haven 6 Drawer Dresser</a>, and <a title="View Ava Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/ava-upholstered-glider-graphite">Ava Upholstered Glider</a>.</em></span></p>
<p><a target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Style_Editrix.pdf?11328235588006697226"><span style="color: #0000ff;"><em><span style="text-decoration: underline;"><span>Read More...</span></span></em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Kids Today Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444"><img alt="Delta Children featured in Kids Today Magazine" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Kids-Today-2015-Press-Page-Image_compact.png?v=1472490253" style="float: left; margin-right: 20px;" /></a></h3>
<h3 style="text-align: left;"><span style="color: #444444;">Kids Today: <em>Delta Children Participates in African American Breastfeeding Week</em></span></h3>
<h6><span style="color: #444444;">September/October 2015</span><strong><span style="color: #000000;"> </span></strong></h6>
<p style="text-align: left;"><span style="color: #666666;"><em style="color: #666666;"></em><em style="color: #666666;"></em><em style="color: #666666;">Delta Children donates gliders and other furniture to new lactation rooms in Brooklyn.</em></span></p>
<p style="text-align: left;"><em><span style="color: #0000ff;"><a title="Delta Children featured in Kids Today Magazine" style="color: #0000ff;" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444"><span style="text-decoration: underline;">Read More...</span></a></span></em></p>
<hr>
<!-- <p style="text-align: left;"><span style="color: #666666;"><span style="text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"><strong> </strong></span></span></span></p> -->
<!-- <h3 style="float: left;"></h3> -->
<h6 style="float: left;"><a title="Delta Children featured in Kids Today Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444"><span style="color: #000000;"><strong><img alt="Delta Children featured in Kids Today Magazine" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Kids-Today-2015-Press-Page-Image_compact.png?v=1472490253" style="margin-right: 20px; float: left;" /></strong></span><strong></strong></a></h6>
<!-- <h6 style="float: left;"><span style="color: #444444;"><strong></strong></span></h6> -->
<!-- <h6 style="float: left;"><span style="color: #444444;"><strong></strong></span></h6> -->
<!-- <h6 style="float: left;"><span style="color: #444444;"><strong></strong></span></h6> -->
<!-- <h3 style="float: left;"><span style="color: #444444;"><strong><em></em></strong></span></h3> -->
<h3><span style="color: #444444;">Kids Today: <em>Family Tradition</em></span></h3>
<h6><span style="color: #444444;">September/October 2015</span><strong><span style="color: #000000;"> </span></strong></h6>
<p style="text-align: left;"><span style="color: #666666;"><em style="color: #666666;"></em><em style="color: #666666;"></em><em style="color: #666666;">Delta Children President, Joseph Shamie, shares about continuing his family's commitment to safety.<br /></em></span></p>
<p style="text-align: left;"><span style="text-decoration: underline; color: #0000ff;"><em><a title="Delta Children featured in Kids Today Magazine" style="color: #0000ff; text-decoration: underline;" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444">Read More...</a></em></span></p>
<!-- <p style="text-align: left;"> </p> -->
<!-- <p style="text-align: left;"> </p> -->
<hr>
<h3 style="float: left;"> <a title="Delta Children featured in Baby &amp; Kids Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Serta_Featured_in_Baby_Kids.pdf?3708664179523373030"><img alt="Delta Children featured in Baby &amp; Kids Magazine" src="//cdn.shopify.com/s/files/1/0578/7201/files/Baby-and-Kids-Press-Page-Image_compact.png?v=1472658850" style="margin-right: 20px; float: left;" /></a><a title="Delta Children featured in Baby &amp; Kids Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Serta_Featured_in_Baby_Kids.pdf?3708664179523373030"></a></h3>
<h3><span style="color: #444444;">Baby &amp; Kids: <em>Rooms to Remember</em></span></h3>
<h6><span style="color: #444444;">Fall 2015</span></h6>
<p><span style="color: #666666;"><em>Delta Children called an innovator in safety and juvenile furniture in Baby &amp; Kids Fall Issue featuring <a title="View Serta Northbrook Collection in browser" target="_blank" href="http://www.deltachildren.com/products/northbrook-4-in-1-crib?variant=15944402819">Serta Northrbook Collection</a>.</em></span></p>
<p><a title="Delta Children featured in Baby &amp; Kids Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Serta_Featured_in_Baby_Kids.pdf?3708664179523373030"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<!-- <p> </p> -->
<p style="text-align: left;"> </p>
<p style="text-align: left;"> </p>
<span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c  no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span>

<div id="pagination">
  <a href="http://www.deltachildren.com/pages/press-page-1"><p><span> << </span>&nbsp;&nbsp;2</p></a>
</div>

</div>

<div id="pressMobile">
 <h1 style="padding-left: 25px;">Press Room</h1>  
<a href="http://deltachildren.com/pages/videos"><p style="font-size: 95%;" id="video-link-mobile">Press Videos</p></a>

<h3 style="float: left;"><a title="Delta Children featured on Classic Bride" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_On_Classic_Bride.pdf?2523623169255421953"><img id="adjustImg1" alt="Delta Children featured on Classic Bride" src="//cdn.shopify.com/s/files/1/0578/7201/files/Classic-Bride-Press-Page-Image_compact.jpg?v=1474583372" style="float: left; margin-right: 20px;" /></a></h3>
<h3 style="text-align: left;"><span style="color: #000000;"><span style="color: #666666;"><span style="color: #444444;"> Classic Bride: <em>Our Preppy Baby Nursery Reveal</em></span><br /></span></span></h3>
<h6><span style="color: #444444;">September 20, 2016</span></h6>
<p><span style="color: #666666;"><em>Sarah from The Classic Bride shares her guide to a beautifully preppy blue and ivory nursery, featuring Delta Children's <a title="View Emery 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/emery-4-in-1-crib?variant=11176831875">Emery 4-in-1 Crib</a>.</em></span></p>
<p><a title="Delta Children featured on Classic Bride" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_On_Classic_Bride.pdf?2523623169255421953"><span style="text-decoration: underline; color: #0000ff;"><em><span>Read More...</span></em></span></a></p>

<hr>
<!-- <h3 style="text-align: left;"><span style="color: #000000;"><span style="color: #666666;"><span style="color: #444444;"> </span></span></span></h3> -->
<h3 style="float: left;"><a title="Delta Children featured on A Thrifty Diva" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_A_Thrifty_Diva.pdf?7603157250916356100"><img alt="Delta Children featured on A Thrifty Diva" src="https://cdn.shopify.com/s/files/1/0578/7201/files/A-Thrifty-Diva-Press-Page_Image_compact.png?v=1474053750" style="float: left; margin-right: 20px;" /></a></h3>
<h3 style="text-align: left;"><span style="color: #000000;"><span style="color: #666666;"><span style="color: #444444;">A Thrifty Diva: <em>Baby Essentials: Do You Really Need A Bassinet?</em></span><br /></span></span></h3>
<h6 style="text-align: left;"><span style="color: #000000;"><span style="color: #666666;"><span style="color: #444444;">September 15, 2016</span><br /></span></span></h6>
<p style="text-align: left;"><span style="color: #666666;"><em>Blogger A Thrifty Diva answers the question all parents-to-be are wondering in her review of the Delta Children <a title="View Gliding Bassinet, Marina in browser" target="_blank" href="http://www.deltachildren.com/collections/bassinets/products/smooth-glide-bassinet">Marina Gliding Bassinet</a>.</em></span></p>
<p style="text-align: left;"><a title="Delta Children featured on A Thrifty Diva" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_A_Thrifty_Diva.pdf?12536204372588569345"><span style="text-decoration: underline; color: #0000ff;"><em><span>Read More...</span></em></span></a></p>

<hr>
<!-- <p style="text-align: left;"><span style="color: #000000;"><span style="color: #666666;"><span style="text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"><strong> </strong></span></span></span></span></p> -->
<h3 style="float: left;"><a title="Delta Children featured on Little Mrs. Priss" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Little_Mrs._Priss.pdf?4168909477302627906"><img alt="Delta Children featured on Little Mrs. Priss" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Little-Mrs-Priss-Press-Page-Image_compact.png?v=1472668795" style="margin-right: 20px; float: left;" /></a></h3>
<h3 style="text-align: left;"><span style="color: #444444;">Little Mrs. Priss: <em>Go To Sleep Little One</em></span></h3>
<h6><span style="color: #000000;"><span style="color: #444444;">August 23, 2016</span><br /></span></h6>
<p><span style="color: #666666;"><em>Blogger Little Mrs. Priss elaborates on the wonderful features of her new Simmons Kids <a title="View Beautyrest® Studio Gliding Bassinet in browser" target="_blank" href="http://www.deltachildren.com/products/beautyrest-studio-gliding-bassinet?variant=12115548035">Beautyrest® Studio Gliding Bassinet</a> and how perfect it is for her precious little one.<br /></em></span></p>
<p><a title="Delta Children featured on Little Mrs. Priss" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Little_Mrs._Priss.pdf?4168909477302627906"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>

<hr>
<!-- <p style="text-align: left;"> </p> -->
<h3><a title="Delta Children featured on Kids Today Online" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today_Article_Online.pdf?3636448159898238505"><span style="color: #000000;"><img alt="Delta Children featured on Kids Today Online" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Kids-Today-Lactation-Room-Press-Page-Image_compact.png?v=1472493295" style="float: left; margin-right: 20px;" /></span></a><span style="color: #444444;">Kids Today Online: <em>Delta Children Helps New York City Furnish Lactation R</em><em>ooms</em></span></h3>
<h3 style="float: left;"><span style="color: #000000;"></span></h3>
<h6><span style="color: #444444;">August 22, 2016<em></em> </span></h6>
<p><span style="color: #666666;"><em></em><em></em></span><span style="color: #666666;"><em>Delta Children pledges to donate furniture after NYC mayor, Bill de Blasio, signs bill that requires lactation rooms in certain public city offices.</em></span></p>
<p style="float: left;"><span style="text-decoration: underline;"><a title="Delta Children featured on Kids Today Online" style="color: #0000ff; text-decoration: underline;" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today_Article_Online.pdf?3636448159898238505"><em>Read More...</em></a></span></p>
<hr>
<h3><a title="Delta Children featured on A Touch of Pink" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_A_Touch_of_Pink.pdf?899380487944222431"><img alt="Delta Children featured on A Touch of Pink" src="https://cdn.shopify.com/s/files/1/0578/7201/files/A-Touch-of-Pink-Press-Page-Image_compact.png?v=1472571867" style="margin-right: 20px; float: left;" /></a><span style="color: #444444;">A Touch of Pink: <em>Baby Girl's Nursery Reveal</em></span></h3>
<h6><span style="color: #444444;">August 16, 2016</span></h6>
<p><span style="color: #666666;"><em>A pretty pink girl's room put together by Katelyn Jones from A Touch of Pink featuring the <a title="View Emma Tufted Glider in browser" target="_blank" href="http://www.deltachildren.com/products/emma-tufted-glider-1?variant=15898252803">Emma Tufted Glider</a> in Blush by Delta Children.</em></span></p>
<p style="float: left;"><span style="text-decoration: underline;"><a title="Delta Children featured on A Touch of Pink" style="color: #0000ff; text-decoration: underline;" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_A_Touch_of_Pink.pdf?899380487944222431"><em>Read More...</em></a></span></p>
<hr>
<h3 style="float: left;"> <a title="Delta Children featured on Marina McAvoy" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Marina_McAvoy.pdf?9513326231504342183"><img alt="Delta Children featured on Marina McAvoy" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Marina-McAvoy-Press-Page-Image_compact.png?v=1472584205" style="float: left; margin-right: 20px;" /></a></h3>
<h3><span style="color: #444444;">Marina McAvoy: <em>Ethan's Nursery Reveal</em></span></h3>
<h6><span style="color: #444444;">August 13, 2016</span></h6>
<p><span style="color: #666666;"><em>This soft and gorgeous nursery by Marina McAvoy features Simmons Kids <a title="View Hollywood 4 Drawer Chest in browser" target="_blank" href="http://www.deltachildren.com/products/hollywood-4-drawer-chest-antique-white-grey?variant=14560360707">Hollywood 4 Drawer Chest</a> and Delta Children <a title="View Eva Glider in browser" target="_blank" href="http://www.deltachildren.com/collections/gliders/products/eva-glider?variant=23009601475">Eva Glider</a>.</em></span></p>
<p><a title="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Marina_McAvoy.pdf?9513326231504342183" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Marina_McAvoy.pdf?9513326231504342183"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<!-- <p><span style="color: #666666;"><span style="text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"><strong> </strong></span></span></span></p> -->
<h3 style="float: left;"><a title="Delta Children featured on My Wife Styles" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_My_Wife_Styles.pdf?14228944063244768818"><img alt="Delta Children featured on My Wife Styles" src="https://cdn.shopify.com/s/files/1/0578/7201/files/My-Wife-Styles-Press-Page-Image_compact.png?v=1472575478" style="float: left; margin-right: 20px;" /></a></h3>
<h3><span style="color: #444444;"> My Wife Styles: <em>Sneak Peek of Baby's Nursery</em></span></h3>
<h6><span style="color: #444444;"> August 10, 2016 </span></h6>
<p><span style="color: #666666;"><em>Blogger My Wife Styles shares details on why she chose Delta Children's <span style="color: #666666;"><em><a title="View Epic 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/epic-4-in-1-crib-grey?variant=15946500675">Epic 4-in-1 Crib</a></em></span> and secrets behind designing this black and white nursery.<br /></em></span></p>
<p><a title="Delta Children featured on My Wife Styles" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_My_Wife_Styles.pdf?14228944063244768818"><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"><em>Read More...</em></span></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on My Wife Styles" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Jeep_featured_on_My_Wife_Styles.pdf?5073133567806288195"><img alt="Delta Children featured on My Wife Styles" src="https://cdn.shopify.com/s/files/1/0578/7201/files/My-Wife-Styles-Jeep-Press-Page-Image_compact.png?v=1472669472" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="text-decoration: underline;"><span></span></span><span style="color: #444444;">My Wife Styles: <em>Taking a Stroll with Delta Children</em><br /></span></h3>
<h6><span><span style="color: #444444;">July 31, 2016</span><br /></span></h6>
<p><em><span style="color: #666666;">Clarissa from My Wife Styles shares her favorite features of the <a title="View J is for Jeep® Brand Atlas AL Sport Stroller in browser" target="_blank" href="http://www.deltachildren.com/products/j-is-for-jeep-brand-atlas-al-sport-stroller">J is for Jeep<sub>®</sub> Brand Atlas AL Sport Stroller</a></span><a title="Delta Children featured on Buzy Little Izzy" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Busy_Little_Izzy.pdf?4023359850278521207">.</a></em></p>
<p><a title="Delta Children featured on My Wife Styles" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Jeep_featured_on_My_Wife_Styles.pdf?5073133567806288195"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Buzy Little Izzy" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Busy_Little_Izzy.pdf?4023359850278521207"><img alt="Delta Children featured on Buzy Little Izzy" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Busy-Little-Izzy-Press-Page-Image_compact.png?v=1472674028" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">Busy Little Izzy: <em>3 Ways to Create a Great Stroller Environment</em></span></h3>
<h6><span><span style="color: #444444;">July 18, 2016</span><br /></span></h6>
<p><span style="color: #666666;"><em>Blogger Busy Little Izzy shares why the <a title="View J is for Jeep® Brand Scout Stroller in browser" target="_blank" href="http://www.deltachildren.com/products/scout-stroller-11598?variant=11176108355">J is for Jeep<sub>®</sub> Brand Scout Stroller</a> is so perfect for her family.<br /></em></span></p>
<p><a title="Delta Children featured on Buzy Little Izzy" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Busy_Little_Izzy.pdf?4023359850278521207"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"><em><span style="color: #666666; text-decoration: underline;"><span><span style="color: #999999; text-decoration: underline;"><strong></strong></span></span></span></em></span></span><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"></span></span><span style="color: #444444;">Mrs. Coco Wyse: <em>Emmy's Updated Nursery!</em></span><h3>
<h6><span style="color: #444444;">July 5, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Fabio 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/fabio-4-in-1-crib?variant=14260160707">Fabio 4-in-1 Crib</a> is featured in this nursery makeover that will effortlessly transition into a big girl's room.</em></span></p>
<p><a title="Delta Children featured on Mrs. Coco Wyse" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Mrs._Coco_Wyse_Blog.pdf?5421664669748913645"><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"><em>Read More...</em></span></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Mrs. Coco Wyse" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Mrs_Coco_Wyse.pdf?1364445380213782470"><img alt="Delta Children featured on Mrs. Coco Wyse" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Mrs-Coco-Wyse-Press-Page-Image_compact.png?v=1472577085" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">Mrs. Coco Wyse: <em>Baby Boy Nursery &amp; Welcome!</em></span></h3>
<h6><span style="color: #444444;">June 25, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Epic Glider in browser" target="_blank" href="http://www.deltachildren.com/products/epic-glider/?variant=15946628675">Epic Glider</a> looks stunning in this neutral and calm nursery styled and put together by Courtney Wyse.<br /></em></span></p>
<p><a title="Delta Children featured on Mrs. Coco Wyse" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Mrs_Coco_Wyse.pdf?1364445380213782470"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<!-- <p><span style="color: #666666;"><span style="text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"> </span></span></span></p> -->
<!-- <h3 style="float: left;"><a title="Delta Children featured on The DIY Playbook" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_DIY_Playbook.pdf?11703990626405761935"><img alt="Delta Children featured on The DIY Playbook" src="https://cdn.shopify.com/s/files/1/0578/7201/files/DIY-Playbook-Press-Page-Image_compact.png?v=1472505740" style="float: left; margin-right: 20px;" /></a></h3> -->
<h3><span style="color: #444444;">The DIY Playbook: </span><em><span style="color: #444444;">Happy Camper Nursery Source List</span><br /></em></h3>
<h6><span style="color: #444444;">June 24, 2016</span></h6>
<p><em><span style="color: #666666;">Blogger The DIY Playbook reveals the source list from her beautiful gender neutral nursery featuring Delta Children's</span> <a title="View Manhattan 3-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/manhattan-3-in-1-crib?variant=11177724611">Manhattan 3-in-1 Crib</a> <span style="color: #666666;">and</span> <a title="View Ava Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/ava-upholstered-glider-graphite">Ava Upholstered Glider</a><span style="color: #666666;">.</span> </em></p>
<p><a title="Delta Children Featured on The DIY Playbook" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_DIY_Playbook.pdf?11703990626405761935"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a> </p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Lacey Chabert's Nursery on People.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Lacey_Chamberts_nursery_on_People.com.pdf?1364445380213782470"><img alt="Delta Children featured in Lacey Chabert's Nursery on People.com" src="https://cdn.shopify.com/s/files/1/0578/7201/files/People.com-Lacey-Chabert-Press-Page-Image_compact.png?v=1472577600" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">People.com: <em>Pretty in Pink! Inside Lacey Chabert’s ‘Feminine and Romantic’ Nursery</em></span></h3>
<h6><span style="color: #444444;">June 23, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Epic Glider in browser" target="_blank" href="http://www.deltachildren.com/products/epic-glider/?variant=15946628675">Epic Glider</a> stands out in Mean Girls' Lacey Chabert's beautiful nursery.</em></span></p>
<p><a title="Delta Children featured in Lacey Chabert's Nursery on People.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Lacey_Chamberts_nursery_on_People.com.pdf?1364445380213782470"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Frills &amp; Drills" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Frills_Drills.pdf?17598708003842598038"><img alt="Delta Children featured on Frills &amp; Drills" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Frills-Drills-Press-Page-Image_compact.png?v=1472588874" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #666666;"><span style="text-decoration: underline;"></span><span style="color: #444444;">Frills &amp; Drills: <em>Nursery Reveal</em><br /></span></span></h3>
<h6><span style="color: #666666;"><span style="color: #444444;">June 16, 2016<br /></span></span></h6>
<p><span style="color: #666666;"><em>Blogger Frills &amp; Drills' gentle safari themed nursery is completed by  the subtle of presence of Delta Children's <a title="View Fancy 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/fancy-4-in-1-crib?variant=15944500611">Fancy 4-in-1 Crib</a>.</em></span></p>
<p><a title="Delta Children featured on Frills &amp; Drills" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Frills_Drills.pdf?17598708003842598038"><span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"><em>Read More...</em></span></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Island Fever Sisters on AOL.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Island_Fever_Sisters_on_Aol.com.pdf?4772105401649133703"><img alt="Delta Children featured in Island Fever Sisters on AOL.com" src="https://cdn.shopify.com/s/files/1/0578/7201/files/AOL.com-Island-Fever-Sisters-Press-Page-Image_compact.png?v=1472591929" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #0000ff;"></span><span style="color: #444444;">AOL.com: <em>A Nursery That Your Child Can Grow Into</em></span></h3>
<h6><span style="color: #444444;">June 14, 2016</span></h6>
<p><span style="color: #666666;"><em>Island Fever Sisters' vibrant nursery is featured on AOL.com for its bold and stylish design which stars Delta Children's <a title="View Tribeca 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/tribeca-4-in-1-crib-whitegrey">Tribeca 4-in-1 Convertible Crib</a> that grows with your child.</em></span></p>
<p><a title="Delta Children featured in Island Fever Sisters on AOL.com" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_in_Island_Fever_Sisters_on_Aol.com.pdf?4772105401649133703"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Lauren McBride" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Lauren_McBride.pdf?7250584729745803716"><span style="color: #000000;"><img alt="Delta Children featured on Lauren McBride" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Lauren-McBride-Press-Page-Image_compact.png?v=1472507431" style="float: left; margin-right: 20px;" /></span></a></h3>
<h3 style="text-align: left;"><span style="color: #444444;">Lauren McBride: <em>Whimsical, Bohemian Girl's Nursery</em></span></h3>
<h6><span style="color: #444444;">May 11, 2016</span></h6>
<p><span style="color: #666666;"><em>Lauren McBride puts together a soft nursery with pink touches for her daughter, Noelle, featuring Delta Children's <a title="View Avery Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/avery-upholstered-glider?variant=15947860995">Avery Upholstered Glider.</a></em></span></p>
<p><a title="Delta Children featured on Lauren McBride" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_featured_on_Lauren_McBride.pdf?7250584729745803716"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on The Street" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Street.pdf?18321339467758725580"><img alt="Delta Children featured on The Street" src="https://cdn.shopify.com/s/files/1/0578/7201/files/The-Streeet-Press-Page-Image_compact.png?v=1472667718" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">The Street: <em>These Gift Ideas Will Make You Mom’s Favorite on Mother’s Day</em><span style="text-decoration: underline;"></span></span></h3>
<h6><span style="color: #666666;"><span style="color: #444444;">April 8, 2016</span><br /></span></h6>
<p><em><span style="color: #666666;">Delta Children's <a title="View Set of Three Tapered Totes in browser" target="_blank" href="http://www.deltachildren.com/products/tapered-tote?variant=11176550659">Set of Three Tapered Totes</a> and <a title="View Sesame Street Deluxe Multi-Bin Toy Organizer in browser" target="_blank" href="http://www.deltachildren.com/products/sesame-street-deluxe-multi-bin-toy-organizer">Sesame Street Deluxe Multi-Bin Toy Organizer</a> are featured as top picks for Mother's Day gifts on The Street.</span></em></p>
<p><a title="Delta Children featured on The Street" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Street.pdf?18321339467758725580"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children Featured on J'adore Lexie Couture" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_J_Adore_Lexie_Couture.pdf?6066315601149550379"><img alt="Delta Children Featured on J'adore Lexie Couture" src="https://cdn.shopify.com/s/files/1/0578/7201/files/JAdore-Lexie-Couture-Press-Page-Image_compact.png?v=1472660435" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">J'Adore Lexie Couture: <em>The Perfect Room Made for a Little Princess</em></span></h3>
<h6><span style="color: #444444;">February 29, 2016</span></h6>
<p><span style="color: #666666;"><em>Delta Children's <a title="View Princess Carriage Convertible Toddler-to-Twin Bed in browser" target="_blank" href="http://www.deltachildren.com/products/disney-princess-carriage-toddler-to-twin-bed">Princess Carriage Convertible Toddler-to-Twin Bed</a> proves to be the perfect addition to blogger J'Adore Lexie Coutoure's little princess's room.</em></span></p>
<p><span style="text-decoration: underline; color: #0000ff;"><em><span style="color: #666666; text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"><span><em><span style="color: #444444; text-decoration: underline;"><a title="Delta Children Featured on J'adore Lexie Couture" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_J_Adore_Lexie_Couture.pdf?6066315601149550379"><span style="color: #0000ff; text-decoration: underline;">Read More...</span></a></span></em></span></span></span></em></span></p>
<hr>
<h3 style="float: left;"> <a title="Delta Children featured on Positively Oakes" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Positively_Oakes_Blake_s_Indie_Nursery.pdf?1713051489322416594"><img alt="Delta Children featured on Positively Oakes" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Positively-Oakes-Indie-Nursery-Press-Page-Image_compact.png?v=1472570599" style="margin-right: 20px; float: left;" /></a><a target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Positively_Oakes_Blake_s_Indie_Nursery.pdf?1713051489322416594"></a></h3>
<h3><span style="color: #444444;">Positively Oakes: <em>Blake's Indie Nursery</em></span></h3>
<h6><span style="color: #444444;">January 5, 2016</span></h6>
<p><span style="color: #666666;"><em>Positively Oakes built her baby's indie nursery around these key pieces from Delta Children: <a title="View Disney Princess Magical Dreams 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/collections/cribs/products/princess-magical-dreams-4-in-1-crib">Disney Princess Magical Dreams 4-in-1 Crib</a>, <a title="View Disney Princess Magical Dreams Dresser in browser" target="_blank" href="http://www.deltachildren.com/products/princess-magical-dreams-dresser/?variant=15944702595">Disney Princess Magical Dreams Dresser</a>, and <a title="View Eva Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/eva-glider?variant=23009601347">Eva Upholstered Glider</a>. </em></span></p>
<p><a title="Delta Children featured on Positively Oakes" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Positively_Oakes_Blake_s_Indie_Nursery.pdf?1713051489322416594"><em><span style="text-decoration: underline; color: #0000ff;">Read More...</span></em></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Pregnancy &amp; Newborn Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Pregnancy_Newborn_January_Issue.pdf?9591571260952127375"><img alt="Delta Children featured in Pregnancy &amp; Newborn Magazine" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Pregnancy-Newborn-Press-Page-Image_compact.png?v=1472589945" style="margin-right: 20px; float: left;" /></a></h3>
<h3><span style="color: #444444;">Pregnancy &amp; Newborn: <em>Gender Neutral Nursery Design</em></span></h3>
<h6 style="float: left;"><span style="color: #444444;">January 2016</span></h6>
<p> </p>
<p><span style="color: #666666;"><em>Pregnancy &amp; Newborn featured Delta Children's <a title="View Lux Swivel Chair in browser" target="_blank" href="http://www.deltachildren.com/products/lux-swivel-chair?variant=11177585283">Lux Swivel Chair</a> as the perfect accessory to a gender neutral nursery.</em></span></p>
<p><a title="Delta Children featured in Pregnancy &amp; Newborn Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Pregnancy_Newborn_January_Issue.pdf?9591571260952127375"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured on Better Homes and Gardens" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Better_Homes_and_Gardens_Online.pdf?16514790265335243745"><img alt="Delta Children featured on Better Homes and Gardens" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Better-Homes-and-Gardens-Press-Page-Image_compact.png?v=1472574141" style="float: left; margin-right: 20px;" /></a></h3>
<h3><span style="color: #444444;">Better Homes and Gardens: <em>Tiny Rooms with Big Personality</em></span></h3>
<h6>January 2016</h6>
<p><span style="color: #666666;"><em>Honey We're Home's collab with Delta Children featuring the <a title="View Epic 4-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/epic-4-in-1-crib-grey?variant=11176720387">Epic 4-in-1 Crib</a>, <a title="View Epic 3 Drawer Dresser in browser" target="_blank" href="http://www.deltachildren.com/products/epic-3-drawer-dresser-grey/?variant=11176703683">Epic 3 Drawer Dresser</a>, and <a title="View Epic Glider in browser" target="_blank" href="http://www.deltachildren.com/products/epic-glider/?variant=15752290627">Epic Glider</a> receives an A+ in style from Better Homes and Gardens.</em></span></p>
<p><a title="Delta Children featured on Better Homes and Gardens" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_Better_Homes_and_Gardens_Online.pdf?16514790265335243745"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<hr>
<h3><a title="Delta Children featured on The Style Editrix" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Style_Editrix.pdf?11328235588006697226"><img alt="Delta Children featured on The Style Editrix" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Style-Editrix-Ava-Press-Page-Image_compact.png?v=1472497092" style="float: left; margin-right: 20px;" /></a><span style="color: #444444;">The Style Editrix: <em>Nursery Reveal</em></span></h3>
<h6><span style="color: #444444;">November 30, 2015</span></h6>
<p><span style="color: #666666;"><em>The Style Editrix shares her dream nursery come true featuring Delta Children's <a title="View Ava 3-in-1 Crib in browser" target="_blank" href="http://www.deltachildren.com/products/ava-3-in-1-crib-white?variant=15946867907">Ava 3-in-1 Crib</a>, <a title="View Haven 6 Drawer Dresser in browser" target="_blank" href="http://www.deltachildren.com/products/haven-6-drawer-dresser-white?variant=11176611587">Haven 6 Drawer Dresser</a>, and <a title="View Ava Upholstered Glider in browser" target="_blank" href="http://www.deltachildren.com/products/ava-upholstered-glider-graphite">Ava Upholstered Glider</a>.</em></span></p>
<p><a target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_on_The_Style_Editrix.pdf?11328235588006697226"><span style="color: #0000ff;"><em><span style="text-decoration: underline;"><span>Read More...</span></span></em></span></a></p>
<hr>
<h3 style="float: left;"><a title="Delta Children featured in Kids Today Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444"><img alt="Delta Children featured in Kids Today Magazine" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Kids-Today-2015-Press-Page-Image_compact.png?v=1472490253" style="float: left; margin-right: 20px;" /></a></h3>
<h3 style="text-align: left;"><span style="color: #444444;">Kids Today: <em>Delta Children Participates in African American Breastfeeding Week</em></span></h3>
<h6><span style="color: #444444;">September/October 2015</span><strong><span style="color: #000000;"> </span></strong></h6>
<p style="text-align: left;"><span style="color: #666666;"><em style="color: #666666;"></em><em style="color: #666666;"></em><em style="color: #666666;">Delta Children donates gliders and other furniture to new lactation rooms in Brooklyn.</em></span></p>
<p style="text-align: left;"><em><span style="color: #0000ff;"><a title="Delta Children featured in Kids Today Magazine" style="color: #0000ff;" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444"><span style="text-decoration: underline;">Read More...</span></a></span></em></p>
<hr>
<!-- <p style="text-align: left;"><span style="color: #666666;"><span style="text-decoration: underline;"><span style="color: #999999; text-decoration: underline;"><strong> </strong></span></span></span></p> -->
<!-- <h3 style="float: left;"></h3> -->
<h6 style="float: left;"><a title="Delta Children featured in Kids Today Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444"><span style="color: #000000;"><strong><img alt="Delta Children featured in Kids Today Magazine" src="https://cdn.shopify.com/s/files/1/0578/7201/files/Kids-Today-2015-Press-Page-Image_compact.png?v=1472490253" style="margin-right: 20px; float: left;" /></strong></span><strong></strong></a></h6>
<!-- <h6 style="float: left;"><span style="color: #444444;"><strong></strong></span></h6> -->
<!-- <h6 style="float: left;"><span style="color: #444444;"><strong></strong></span></h6> -->
<!-- <h6 style="float: left;"><span style="color: #444444;"><strong></strong></span></h6> -->
<!-- <h3 style="float: left;"><span style="color: #444444;"><strong><em></em></strong></span></h3> -->
<h3><span style="color: #444444;">Kids Today: <em>Family Tradition</em></span></h3>
<h6><span style="color: #444444;">September/October 2015</span><strong><span style="color: #000000;"> </span></strong></h6>
<p style="text-align: left;"><span style="color: #666666;"><em style="color: #666666;"></em><em style="color: #666666;"></em><em style="color: #666666;">Delta Children President, Joseph Shamie, shares about continuing his family's commitment to safety.<br /></em></span></p>
<p style="text-align: left;"><span style="text-decoration: underline; color: #0000ff;"><em><a title="Delta Children featured in Kids Today Magazine" style="color: #0000ff; text-decoration: underline;" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_Featured_in_Kids_Today.pdf?5005426162937978444">Read More...</a></em></span></p>
<!-- <p style="text-align: left;"> </p> -->
<!-- <p style="text-align: left;"> </p> -->
<hr>
<h3 style="float: left;"> <a title="Delta Children featured in Baby &amp; Kids Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Serta_Featured_in_Baby_Kids.pdf?3708664179523373030"><img alt="Delta Children featured in Baby &amp; Kids Magazine" src="//cdn.shopify.com/s/files/1/0578/7201/files/Baby-and-Kids-Press-Page-Image_compact.png?v=1472658850" style="margin-right: 20px; float: left;" /></a><a title="Delta Children featured in Baby &amp; Kids Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Serta_Featured_in_Baby_Kids.pdf?3708664179523373030"></a></h3>
<h3><span style="color: #444444;">Baby &amp; Kids: <em>Rooms to Remember</em></span></h3>
<h6><span style="color: #444444;">Fall 2015</span></h6>
<p><span style="color: #666666;"><em>Delta Children called an innovator in safety and juvenile furniture in Baby &amp; Kids Fall Issue featuring <a title="View Serta Northbrook Collection in browser" target="_blank" href="http://www.deltachildren.com/products/northbrook-4-in-1-crib?variant=15944402819">Serta Northrbook Collection</a>.</em></span></p>
<p><a title="Delta Children featured in Baby &amp; Kids Magazine" target="_blank" href="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta_Children_and_Serta_Featured_in_Baby_Kids.pdf?3708664179523373030"><span style="text-decoration: underline; color: #0000ff;"><em>Read More...</em></span></a></p>
<!-- <p> </p> -->
<p style="text-align: left;"> </p>
<p style="text-align: left;"> </p>
<span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c none no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span><span style="border-radius: 2px; text-indent: 20px; width: auto; padding: 0px 4px 0px 0px; text-align: center; font: bold 11px/20px 'Helvetica Neue',Helvetica,sans-serif; color: #ffffff; background: #bd081c  no-repeat scroll 3px 50% / 14px 14px; position: absolute; opacity: 1; z-index: 8675309; display: none; cursor: pointer;">Save</span>
</div>


<style>

  
i {
 font-weight: 100;
}
 
b {
 font-weight: 900; 
 color: #0d3468 !important; 
 font-size: 115%;
}  

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  border-style: inset;
  border-width: 1px;
  width: 95%;
}

#video-link  {
/*   font-size: 130%; */
/*   color: #0d3468 !important; */
  text-align: right;
  position: relative;
  bottom: 90px;
  right: 160px;
}

b:hover {
  opacity: 0.4;
}

/*p {
  width: 80%;
}*/

/*#page2 {
  display: none;
}*/

#pagination {
  text-align: center;
  color: #A1BCDE;
}




/*FOR DESKTOP, etc.*/
@media only screen and (min-device-width: 1200px) {

  #page2-notMobile{
    display: block;
  }
  #pressMobile {
    display: none;
  }

}



/*for iPads, etc. */
@media screen and (max-width: 1024px)  {



  #page2-notMobile {
    display: block;
  }
  #pressMobile {
    display: none;
  }


  h3 {
    font-size: 110%;
    font-weight: 999;
    color: black;
  }

  h6,
  p {
    font-size: 90%;
  }

  /*#adjustImg1 {
    padding-top: 30px;
  }

  #adjustTitle1 {
    padding-top: 90px !important;
  }*/

  #video-link {
    padding-top: 15px;
  }



  /*for mobile phones, etc. */
  @media only screen and (max-device-width: 640px) {
    #page2-notMobile {
      display: none;
    }
    #pressMobile {
      display: block;
    }

    img {
      height: 110%;
      width: 110%;
      /*padding-left: 60px;*/
      border: 3px solid black;
      padding-left: 10px;
    }

    h3 {
      text-align: justify;
      float: none !important;
      width: 80%;
      padding-left: 30px;

    }

    h6,
    p {
      text-align: justify;
      float: none !important;
      padding-left: 30px;
    }

    #video-link-mobile {
      position: relative;
      text-align: right;
      top: -52px; 
      left: -9px;


    }
}


}

</style>



<script>






// // For hiding pop-up on product reigstration page 12/22/16
// if(document.URL.indexOf("pages/product-registration") >= 0){
//   setTimeout(function(){
//     if($("div.privy.privy-popup-container").is(":visible")){
//         $("div.privy.privy-popup-container").hide();
//       };
//     console.log("i want to hide pop-up after 1sec");
//   }, 1000);
//
// setTimeout(function(){
//   if($("div.privy.privy-popup-container").is(":visible")){
//       $("div.privy.privy-popup-container").hide();
//     };
//   console.log("i want to hide pop-up after 5sec");
// }, 5000);
//
//
// setTimeout(function(){
//   if($("div.privy.privy-popup-container").is(":visible")){
//       $("div.privy.privy-popup-container").hide();
//     };
//   console.log("i want to hide pop-up after 10sec");
// },10000);
//
//
// setTimeout(function(){
//   if($("div.privy.privy-popup-container").is(":visible")){
//       $("div.privy.privy-popup-container").hide();
//     };
//   console.log("i want to hide pop-up after 15sec");
// }, 15000);
//
//
// setTimeout(function(){
//   if($("div.privy.privy-popup-container").is(":visible")){
//       $("div.privy.privy-popup-container").hide();
//     };
//   console.log("i want to hide pop-up after 20sec");
// }, 15000);
//
// setTimeout(function(){
//   if($("div.privy.privy-popup-container").is(":visible")){
//       $("div.privy.privy-popup-container").hide();
//     };
//   console.log("i want to hide pop-up after 30sec");
// }, 30000);
//
// setTimeout(function(){
//   if($("div.privy.privy-popup-container").is(":visible")){
//       $("div.privy.privy-popup-container").hide();
//     };
//   console.log("i want to hide pop-up after 40sec");
// }, 40000);
// }

</script>
