<div class="nursery-container">
  <div class="row section nt-title-container" id="n-title-container">
    <div class="small-12 medium-12 large-12 columns make-skinny nt-title-text-container">
      <div class="nt-title-text"><h1 class="ultra dark-blue title-font">CRIB SAFETY<span class="om-font dark-blue medium">tips</span></h1></div><div class="nt-bottom-text"><h1 class="dark-blue ultra title-font"><span class="om-font">for the</span> NURSERY</h1></div>
      <h3 class="gotham-book dark-blue desktop">Please share these great crib safety resources and tips for a happy, healthy, and safe nursery.</h3>
    </div>
    <img id="banner-babies" src="//cdn.shopify.com/s/files/1/0578/7201/files/Babies-min.png">
  </div>

  <div class="small-12 medium-12 large-12 columns make-skinny mobile nt-sub-text-container">
    <h3 class="gotham-book dark-blue">Please share these great <br><span class="gotham-bold">CRIB SAFETY RESOURCES</span> and tips for a <span class="gotham-medium"><i>happy, healthy, and safe nursery.</i></span></h3>
  </div>
</div>
  <div class="row nt-dtips-container">
    <p class="dark-blue ultra title-font">#DELTA<span class="om-font big">tips</span></p>
    <div class="n-tips-img-holder image-first-tip">
        <img class="n-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safe-sleep-practices.png">
        <div class="social-tips-holder">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safe-sleep-practices.png" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safe-sleep-practices.png" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safe-sleep-practices.png"><img class="social" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
      </div>
    </div>
    <div class="n-tips-img-holder image-second-tip">
      <img class="n-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-crib-safety.png">
      <div class="social-tips-holder">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-crib-safety.png" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-crib-safety.png" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-crib-safety.png">Twitshot</a>
    </div>
  </div>
  <div class="n-tips-img-holder image-third-tip">
      <img class="n-box-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-furniture_decor_79a9e60e-84ac-4de7-8645-4f76fb09ef9c.png">
      <div class="social-tips-holder">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-furniture_decor_79a9e60e-84ac-4de7-8645-4f76fb09ef9c.png" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-furniture_decor_79a9e60e-84ac-4de7-8645-4f76fb09ef9c.png" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-furniture_decor_79a9e60e-84ac-4de7-8645-4f76fb09ef9c.png">Twitshot</a>
    </div>
  </div>
  <div class="n-tips-img-holder image-fourth-tip">
      <img class="n-box-img desktop" src="//cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safety-warnings_5ac5a0f8-d9ae-4fa0-9fe7-47d894c20b24.png">
      <div class="social-tips-holder desktop">
        <!-- pinterest sharing button -->
        <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safety-warnings_5ac5a0f8-d9ae-4fa0-9fe7-47d894c20b24.png" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        <!-- facebook -->
        <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safety-warnings_5ac5a0f8-d9ae-4fa0-9fe7-47d894c20b24.png" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
        <!-- Twitter -->
        <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/delta-tips-safety-warnings_5ac5a0f8-d9ae-4fa0-9fe7-47d894c20b24.png">Twitshot</a>
    </div>
    <img class="n-box-img mobile" src="//cdn.shopify.com/s/files/1/0578/7201/files/Delta-Tip-4-min.jpeg">
    <div class="social-tips-holder mobile">
      <!-- pinterest sharing button -->
      <a data-pin-do="buttonPin" data-pin-round="true" data-pin-tall="true" data-pin-description="Thanks @deltachildren for these great nursery safety tips #deltatips" href="https://www.pinterest.com/pin/create/button/" data-pin-media="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta-Tip-4-min.jpeg" class="links-social-tips"><img class="social" src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
      <!-- facebook -->
      <a class="links-social-tips" href="http://www.facebook.com/sharer.php?u=https://cdn.shopify.com/s/files/1/0578/7201/files/Delta-Tip-4-min.jpeg" target="_blank"><img class="social"src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
      <!-- Twitter -->
      <img class="social twitter-button" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
      <a href="/share" class="twitshot-tweet-button" target="_blank" data-text="Thanks @deltachildren for these great nursery safety tips #deltatips" data-image="https://cdn.shopify.com/s/files/1/0578/7201/files/Delta-Tip-4-min.jpeg">Twitshot</a>
  </div>
  </div>
  </div>

  <div class="social-holder"><h6 class="nt-social-text" class="gotham-book">Follow us on social media and share our great safety tips!</h6>
    <ul class="social-icons nt-safety-social">
      {% include 'socialMediaHome' %}
    </ul>
  </div>

  <div class="row section nt-faq-container" id=n-faq-container>
    <div class="small-12 medium-12 large-12 columns make-skinny faq-text-holder">
      <div class="top-FAQ-text"><h2 class="section-title ultra dark-blue"> <span class="om-font">Frequently</span> ASKED QUESTIONS</h2></div>
      <div class="bottom-FAQ-text"><h2 class="ultra dark-blue">About <span class="om-font">crib</span> safety</h2></div>
      <p class="dark-blue gotham-book section-sub-title">
        A safe crib environment is important for your home.
        Below are some frequently asked questions about crib safety.
        Our FAQ section covers crib safety standards including questions about
        crib bumpers, child-safe crib paint, crib slat sizes, crib standards
        and ratings, side rails and drop-side crib hazards, crib liners,
        nets and rails, and crib mattresses and cots.
      </p>
      <h6 class="grey gotham-bold faq">WHAT ARE THE CRIB SAFETY STANDARDS?</h6>
      <p class="grey gotham-book faq-answer">Crib safety standards evolve as we learn more about the true risks of even popular and long-standing products.
        In 2011, the federal government banned drop-rail cribs after they
        were linked to infant suffocation deaths.
        Experts are now advising that parents avoid crib rail bumpers
        and crib tents for similar reasons.  Parents can have peace of
        mind if they choose a new crib, use a tight-fitting, firm mattress,
        and put the baby to sleep on its back on a bare mattress.</p>
        <h6 class="grey gotham-bold faq">HOW FAR APART SHOULD THE CRIB SLATS BE?</h6>
        <p class="grey gotham-book faq-answer">Crib slats need to be close together in order to prevent a
          baby’s head or torso from slipping through the gap.
          New cribs are manufactured to a strict standard of no
          more than 2 and 3/8 inches between slats.  If a soda can
          passes easily through the slats, the crib is not safe.
          If you are questioning the width of a crib you are considering
          buying, there’s no harm in checking with a ruler in the store.</p>
          <h6 class="grey gotham-bold faq">ARE CRIBS WITH DROP SIDES SAFE?</h6>
          <p class="grey gotham-book faq-answer bottom-padding">Drop side cribs have been banned in the US since 2010,
            after they were linked to several infant deaths since 2001.
            Many parents enjoyed the convenience of this once popular design,
            but they put babies at risk of getting trapped and suffocating.
            Using any second hand crib comes with risks, but parents should
            never use a drop-rail model.</p>

            <!-- <a class="lm-btn-link" href="/blogs/the-play-yard"><button class="learn-more footer-btn">Read More<div class="arrow-right"></div></button></a> -->
            <!-- read more button -->
    </div>
  </div>

  <div class="row section nt-crib-container">

    <div class="small-12 medium-12 large-12 columns crib-text-holder" id="n-crib-text-holder">
      <div class="safety-title-text">
        <h2 class="section-title ultra dark-blue">CRIB SAFETY IS <span class="om-font">essential</span> FOR A SAFE HOME</h2>
      </div>
      <p class="grey gotham-book">As a parent, your number 1 job is to keep your child safe.
        It's natural to be concerned over your child's well-being,
        at all hours of the day and night&mdash;but the last thing
        any new parent needs is to lose sleep worrying about the
        safety of their child's crib, mattress, or bassinet.
        <span>
        When your child is sleeping, you should too! When it
        comes to your child's safety in the nursery and at the home,
        you can count on Delta Children.
        </span>
      </p>
      <a class="lm-btn-link lm-crib-safety" href="/blogs/the-play-yard"><button class="learn-more footer-btn">Learn More<div class="arrow-right"></div></button></a>
    </div>
  </div>

  <div class="row section" id="n-blog-background">
    <div class="small-12 medium-12 large-12 columns nt-blog-title-container">
      <div class="blog-top-title"><h2 class="ultra dark-blue">RELATED BABY <span class="om-font">&amp;</span> CRIB</h2></div><div class="blog-title-bottom"><h2 class="ultra dark-blue">SAFETY ARTICLES <span class="om-font">from</span> OUR BLOG</h2></div>
    </div>
    <div class="nt-blog-container">
      <div class="horiz-scroll-container">
        <div class="small-4 medium-4 large-4 columns blog-content">
          <div class="blog-content-container">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/blog-post-twin-nursery-safety.png">
            <div class="article-padding">
              <h6 class="grey gotham-black">Dangers of an Unsafe Twin Nursery</h6>
              <p class="grey gotham-book">Due to the lack of information out there about twin nurseries,
              many are unaware of the grave dangers they might pose.
              Read more for life-saving tips for setting up a safe twin nursery.</p>
              <a href="/blogs/the-play-yard/twin-nursery-safety"><p class="dark-blue gotham-black read-more">Read More ></p></a>
            </div>
            <div class="transparent-background"></div>
          </div>
        </div>
        <div class="small-4 medium-4 large-4 columns blog-content">
          <div class="blog-content-container">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/blog-post-BBQ-safety.png">
            <div class="article-padding">
              <h6 class="grey gotham-black">How To Keep Your Kids Safe at Every BBQ</h6>
              <p class="grey gotham-book">Summer means pool parties, the great outdoors and cookouts galore.
                Make sure your kids are safe this season around the open flames and
                hot surfaces.</p>
                <a href="/blogs/the-play-yard/how-to-keep-your-kids-safe-at-every-summer-barbecue"><p class="dark-blue gotham-black read-more">Read More ></p></a>
            </div>
            <div class="transparent-background"></div>
          </div>
        </div>
        <div class="small-4 medium-4 large-4 columns blog-content">
          <div class="blog-content-container">
            <img src="//cdn.shopify.com/s/files/1/0578/7201/files/blog-post-newborn-101.png">
            <div class="article-padding">
              <h6 class="grey gotham-black">Newborn 101</h6>
              <p class="grey gotham-book">Tips and tricks to get you through the first months with your newborn,
                including safety checking the nursery, practicing safe sleep and a
                handful of mom hacks that are sure to help!</p>
                <a href="/blogs/the-play-yard/125406211-newborn-101-7-tips-and-tricks-for-surviving-the-first-months"><p class="dark-blue gotham-black read-more">Read More ></p></a>
            </div>
            <div class="transparent-background"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-12 large-12 columns" id="blog-btn-container">
        <a class="lm-btn-link" href="/blogs/the-play-yard"><button class="learn-more footer-btn">Read More<div class="arrow-right"></div></button></a>
      </div>
  </div>
    <img class="show-for-small-only" id="blog-left-arrow" src="//cdn.shopify.com/s/files/1/0578/7201/files/Left_Arrow.png">
    <img class="show-for-small-only" id="blog-right-arrow" src="//cdn.shopify.com/s/files/1/0578/7201/files/Right_Arrow.png">

<!-- script for pinterest image upload -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<!-- script for twitShot (Twitter image upload app) -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://ssl.twitshot.com/share-button.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitshot-bjs');</script>
<script>
// function instances for scrolling in "Related Articles" section
$(function() {
  blogScrollLeft();
  blogScrollRight();
    // shows social icons on load for mobile, hides for desktop until hover over
    if ( $(window).width() > 667) {
      hideDisplaySocial();

      //styles desktop so that cloud background is included in header
      $('#site-header').prependTo('#n-title-container');
      $('#site-header').css('background-color', 'transparent');
      $('.top-bar-section li a').css('color','#1a3d6e' );
      $('ul.dropdown').css('background-color', 'white');
      $('ul.dropdown').css('opacity', '.8');
//       $('#site-header div.row div.small-12.columns').css('width', '83%');
//       $('#site-header div.row div.small-12.columns').css('left', '8.3%');
    }
});

function blogScrollLeft(){
  $("img#blog-right-arrow").click(function(event){
    event.preventDefault();
    $("#n-blog-container").animate({
    scrollLeft: "+=300px"
  }, "slow");
  });
};
function blogScrollRight(){
  $("img#blog-left-arrow").click(function(event){
    event.preventDefault();
    $("#n-blog-container").animate({
    scrollLeft: "-=300px"
  }, "slow");
  });
};
function hideDisplaySocial(){
  $('.n-tips-img-holder').hover(function(){
    $(this).children('.social-tips-holder').show();
    },
    function(){
    $(this).children('.social-tips-holder').hide();
    }
  );
}
</script>
